<div class="component-container" tabindex="0">
    <div class="selected-container">
        <span class="label-container" (click)="toggleDropdownVisibility()">
            <div *ngIf="!selected" class="placeholder">
                {{ placeholder }}
            </div>
            <div *ngIf="selected" class="selected">
                {{ selected }}
            </div>
        </span>
        <span class="icon-container" *ngIf="!selected" (click)="toggleDropdownVisibility()">
            <i class="pi pi-chevron-down"></i>
        </span>
        <span class="icon-container" *ngIf="selected" (click)="deselectAll()">
            <i class="pi pi-times"></i>
        </span>
    </div>
    <div class="dropdown" *ngIf="isDropdownVisible">
        <div class="group-container" *ngFor="let group of groupsWithValues">
            <div class="label-container">
                <span class="label"
                    [class.selected]="group.isSelected"
                    (click)="groupSelected(group)">
                    {{ group.displayName }}
                </span>
                <span class="icon-container"
                    *ngIf="group.values.length"
                    (click)="toggleGroupVisibility(group)">
                    <i class="pi pi-chevron-down" *ngIf="!group.isVisible"></i>
                    <i class="pi pi-chevron-up" *ngIf="group.isVisible"></i>
                </span>
            </div>
            <div class="values-container" *ngIf="group.isVisible">
                <div class="value"
                    *ngFor="let value of group.values"
                    [class.selected]="value.isSelected"
                    (click)="valueSelected(group, value)">
                    {{ value.displayName }}
                </div>
            </div>
        </div>
    </div>
</div>