<div class="image-container">
  <img src="/assets/zarzadzanie_nier.jpg" />
</div>
<div class="component-container">
  <header>
    <h1>Zarządzanie nieruchomościami</h1>
    <mat-divider></mat-divider>
    <p class="title">
      Na poznańskim rynku nieruchomości funkcjonujemy od 2014 roku przede wszystkim jako
      biuro zatrudniające doświadczonych pośredników w obrocie nieruchomościami. Jednak od
      kilku lat, także zarządzamy także nieruchomościami z rynku mieszkaniowego oraz
      komercyjnego i w naszych szeregach posiadamy również specjalistów w tej dziedzinie.
      Oprócz tego oferujemy usługę obsługi najmu, która jest skierowana zarówno do właścicieli
      wynajmowanych lokali.
    </p>
  </header>

  <main>
    <div class="contact">
      <h2>Zapytaj o ofertę:</h2>
      <perfect-agent-brief
        [agent]="agentsStateManager.agentById$(agentResponsibleForManagementId) | async"
        contactInfoVisible
        licenseNumberVisible>
      </perfect-agent-brief>
    </div>

    <h2 class="section-title">
      <span class="title">Zarządzanie wspólnotami mieszkaniowymi i nieruchomościami komercyjnymi</span>
      <img src="assets/management_1.png" />
    </h2>
    <p>
      Zarządzanie wspólnotami mieszkaniowymi czy obiektami komercyjnymi, to bardzo
      wymagające i złożone zajęcie. Sprawny Zarządca skupia w jednym ręku wszelkie procesy
      zachodzące w obiekcie lub częściach wspólnych nieruchomości a także kieruje sprawami
      związanymi z funkcjonowaniem wspólnoty mieszkaniowej. <strong>Jest po to, żeby
      mieszkańcom/użytkownikom, żyło się wygodnie i bezpiecznie a jeżeli spotkają się z
      problemem, to wiedzieli, że mogą liczyć na szybką i kompetentną pomoc. Firma
      zarządzająca nie może marnować pieniędzy właścicieli, za to powinna zdejmować z ich
      głowy kłopoty i presję związaną z odpowiedzialnością za sprawne funkcjonowanie
      obiektów mieszkaniowych lub komercyjnych.</strong>
    </p>
    <p>Polecamy usługi:</p>
    <ul class="top-list">
      <li class="list-section-title">Administrowanie budynkami</li>
      <ul>
        <li>nadzór nad umowami z usługodawcami</li>
        <li>kontrole stanu technicznego nieruchomości</li>
        <li>nadzór nad czystością budynku</li>
        <li>reprezentowanie właściciela przed podmiotami zewnętrznymi</li>
        <li>prowadzenie dokumentacji i księgowości nieruchomości</li>
        <li>inne czynności wymagane przez właścicieli do uzgodnienia</li>
      </ul>
      <li class="list-section-title">Obsługę najmu</li>
      <ul>
        <li>oparcie działalności związanej z najmem na zasadach rynkowych</li>
        <li>aktywne poszukiwanie klientów</li>
        <li>nadzór nad prawidłowością zawieranych umów i ich wykonywaniem ze strony najemców</li>
        <li>rozliczanie najmów</li>
      </ul>
      <li class="list-section-title">Obsługę techniczną</li>
      <ul>
        <li>prowadzenie dokumentacji technicznej nieruchomości</li>
        <li>pilnowanie terminów i zlecanie przeglądów technicznych budynku oraz urządzeń</li>
        <li>pozyskiwanie ofert oraz nadzór nad pracami remontowymi oraz przebudowami, współpracujemy ze sprawdzonymi kierownikami budów</li>
      </ul>
    </ul>

    <h2 class="section-title">
      <span class="title">Zarządzanie lokalami i obsługa najmu</span>
      <img src="assets/management_3.png" />
    </h2>
    <p>
      Obecnie coraz częściej wynajmuje się lokale mieszkaniowe w ramach umowy najmu
      krótkoterminowego lub długoterminowego. To doskonała inwestycja w obecnej
      rzeczywistości ekonomicznej. Zarządzanie najmem polega na profesjonalnym wyręczeniu
      właściciela i zapewnieniu mu jak najwyższych dochodów z najmu nieruchomości.
    </p>
    <p>
      Oferta skierowana jest do właścicieli mieszkań lub inwestorów chcących je zakupić, którzy
      zamierzają bezpiecznie i korzystnie zarabiać na wynajmie. Nasz firma obsługuje
      administracyjnie i prawnie wynajem, a właściciel zyskuje pewność, że mieszkanie dla niego
      pracuje.
    </p>
    <p>Oferujemy:</p>
    <ul class="top-list">
      <li class="list-section-title">Pomagamy w zakupie lokalu</li>
      <ul>
        <li>znajdujemy odpowiedni lokal/mieszkanie</li>
        <li>doradzamy i pomagamy przy zakupie wybranego lokalu</li>
        <li>doradzamy formę finansowania dzięki współpracującym z nami doradcom kredytowym</li>
      </ul>
      <li class="list-section-title">Odbieramy lokal od właściciela</li>
      <ul>
        <li>podpisujemy z właścicielem stosowną umowę o zarządzaniu najmem</li>
        <li>przepisujemy umowy na media lub pomagamy zawrzeć nowe</li>
      </ul>
      <li class="list-section-title">Przygotowujemy lokal do najmu</li>
      <ul>
        <li>doradzamy w jaki sposób poprawić wygląd mieszkania, np. dokonując drobnych napraw czy malowania pomieszczeń</li>
        <li>posiadamy specjalistów od home staging, którzy uatrakcyjnią mieszkanie</li>
        <li>wykonujemy profesjonalną sesję zdjęciową, która pozwoli uwypuklić plusy lokalu w przygotowanej ofercie</li>
      </ul>
      <li class="list-section-title">Znajdujemy najemców i podpisujemy umowy</li>
      <ul>
        <li>znajdujemy najemcę</li>
        <li>pomagamy przy podpisaniu bezpiecznej dla właściciela umowy</li>
        <li>przygotowujemy treść umowy oraz protokół zdawczo-odbiorczy mieszkania</li>
        <li>nasi pracownicy są obecni przy każdym z tych czynności</li>
      </ul>
      <li class="list-section-title">Nadzorujemy okres trwania najmu</li>
      <ul>
        <li>czuwamy nad przebiegiem najmu</li>
        <li>rozliczamy wpłaty i koszty utrzymania lokalu</li>
        <li>przesyłamy zyski na konto właściciela</li>
        <li>pomagamy ubezpieczyć mieszkanie</li>
        <li>szukamy służb technicznych, które w razie awarii naprawią usterkę</li>
        <li>informujemy na bieżąco o zmianach w przepisach dotyczących najmu, w tym w kwestiach podatkowych</li>
        <li>pomagamy znaleźć nowego najemcę lub sprzedać mieszkanie, jeśli właściciel zdecyduje się na taki krok</li>
      </ul>
    </ul>
  </main>
</div>
