<button mat-icon-button
    *ngIf="windowSizeDetector.isWindowSmallerThanMobileLarge">
    <mat-icon>menu</mat-icon>
</button>
<img src="/assets/perfect_house_logo.png" [routerLink]="['/']">
<a href="tel:+48514753514">
    <mat-icon><i class="fas fa-phone-square-alt"></i></mat-icon>
    <span class="phone-number"
        *ngIf="!windowSizeDetector.isWindowSmallerThanMobileLarge">
        514 753 514
    </span>
</a>
<perfect-navigation
    *ngIf="!windowSizeDetector.isWindowSmallerThanMobileLarge">
</perfect-navigation>
