@import "~src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    margin: 22px 0;
    text-align: center;
    @media screen and (max-width: $mobile-large) {
        margin: 14px 0;
    }

    .top-buttons-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 560px;
        @media screen and (max-width: $mobile-large) {
            width: 95%;
        }

        button {
            background-color: $light-green;
            border-radius: 3px;
            display: block;
            height: 26px;
            margin-left: 7px;
            margin-top: 5px;
            width: 26px;

            mat-icon {
                color: white;
                line-height: 11px;
            }
        }

        img {
            cursor: pointer;
            outline: none;
            max-height: 33.6px;
        }

        a {
            color: $font-grey;
            font-size: 14px;
            font-weight: 600;
            margin-right: 8px;
            text-decoration: none;
            @media screen and (max-width: $mobile-large) {
                margin-right: 0;
            }

            mat-icon {
                padding-right: 10px;
                font-size: 30px;

                i {
                    color: $light-green;
                }
            }

            .phone-number {
                bottom: 6px;
                left: 5px;
                position: relative;
            }
        }
    }
}
