@import "~src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    margin: 22px 0;
    text-align: center;

    button {
        background-color: $light-green;
        border-radius: 3px;
        display: block;
        height: 26px;
        left: 23px;
        position: absolute;
        top: 22px;
        width: 26px;

        mat-icon {
            color: $dark-green;
            line-height: 12px;
        }
    }

    img {
        cursor: pointer;
        margin: 0 auto;
        outline: none;
        width: 200px;
        @media screen and (max-width: $mobile-large) {
            width: 140px;
        }
    }

    a {
        color: $font-grey;
        font-size: 14px;
        font-weight: 600;
        right: 15px;
        position: absolute;
        text-decoration: none;
        top:22px;
        @media screen and (max-width: $mobile-large) {
            top:17px;
        }

        mat-icon {
            padding-right: 10px;
            font-size: 30px;

            i {
                color: $light-green;

                &::after {
                    background-color: $dark-green;
                    content: "";
                    display: block;
                    height: 20px;
                    position: absolute;
                    right: 94px;
                    top: 8px;
                    width: 20px;
                    z-index: -1;
                    @media screen and (max-width: $mobile-large) {
                        right: 11px;
                    }
                }
            }
        }

        .phone-number {
            position: relative;
            bottom: 6px;
        }
    }

    nav {
        display: table;
        font-size: 14px;
        font-weight: 600;
        margin: 18px auto 0;
        width: 600px;
        text-align: center;

        .link-container {
            display: table-cell;
            position: relative;

            .link {
                cursor: pointer;
                display: inline-block;
                position: relative;

                &::after {    
                    background: none repeat scroll 0 0 transparent;
                    content: "";
                    display: block;
                    height: 2.5px;
                    left: 50%;
                    position: absolute;
                    background: $light-green;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }

                &:hover::after { 
                    width: 100%; 
                    left: 0; 
                }
            }

            .active-link::after {
                background: none repeat scroll 0 0 transparent;
                content: "";
                display: block;
                height: 2.5px;
                left: 0;
                position: absolute;
                background: $light-green;
                width: 100%;
            }
        }
    }
}
