<div class="header-container">
    <img src="../../assets/perfect_house_logo.png">
    <div class="navigation-container">
        <span class="navigation-button">Oferty</span>
        <span class="navigation-link"
            [routerLink]="['/doradztwo']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            tabindex="0"
            role="button"
            aria-pressed="false">Doradztwo</span>
        <span class="navigation-link"
            [routerLink]="['/zarzadzanie']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            tabindex="0"
            role="button"
            aria-pressed="false">Zarządzanie najmem</span>
        <span class="navigation-link"
            [routerLink]="['/o-nas']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            tabindex="0"
            role="button"
            aria-pressed="false">O nas</span>
        <span class="navigation-link"
            [routerLink]="['/kontakt']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            tabindex="0"
            role="button"
            aria-pressed="false">Kontakt</span>
    </div>
</div>