@import "~src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    margin: 22px 0;
    text-align: center;

    button {
        background-color: $light-green;
        border-radius: 3px;
        display: block;
        height: 26px;
        left: 23px;
        position: absolute;
        top: 26px;
        width: 26px;

        mat-icon {
            color: $dark-green;
            line-height: 12px;
        }
    }

    img {
        cursor: pointer;
        margin: 0 auto;
        outline: none;
        width: 200px;
        @media screen and (max-width: $mobile-large) {
            width: 180px;
        }
    }

    a {
        color: $font-grey;
        font-size: 14px;
        font-weight: 600;
        right: 15px;
        position: absolute;
        text-decoration: none;
        top: 22px;

        mat-icon {
            padding-right: 10px;
            font-size: 30px;

            i {
                color: $light-green;

                &::after {
                    background-color: $dark-green;
                    content: "";
                    display: block;
                    height: 20px;
                    position: absolute;
                    right: 94px;
                    top: 8px;
                    width: 20px;
                    z-index: -1;
                    @media screen and (max-width: $mobile-large) {
                        right: 11px;
                    }
                }
            }
        }

        .phone-number {
            position: relative;
            bottom: 6px;
        }
    }
}
