
<div class="footer-container">
    <div class="links-container">
        <div class="for-sale-links">
            <div>Mieszkania na sprzedaż</div>
            <div>Domy na sprzedaż</div>
            <div>Lokale na sprzedaż</div>
            <div>Działki na sprzedaż</div>
        </div>
        <div class="for-rent-links">
            <div>Mieszkania na wynajem</div>
            <div>Domy na wynajem</div>
            <div>Lokale na wynajem</div>
            <div>Działki na wynajem</div>
        </div>
        <div class="contact-info">
            <div>Perfect House</div>
            <br/>
            <div>ul. Klin 17/2</div>
            <div>60-602 Poznań</div>
            <div>tel. 61 296 03 95</div>
            <div>tel. 514 753 514</div>
            <div class="icons-container">

            </div>
        </div>
    </div>
    <div class="logo-with-note-container">
        <img src="../../assets/perfect_house.png">
        <span>Agencja nieruchomości Perfect House © 2020. Wszelkie prawa zastrzeżone.</span>
    </div>
</div>