@import "~src/variables.scss";

:host {
    background-color: $dark-green;
    color: $font-white;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    .links-container {
        display: flex;
        justify-content: space-evenly;
        line-height: 18px;
        margin-bottom: 20px;

        .link {
            cursor: pointer;
        }

        address {
            font-style: unset;
        }

        .icons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            width: 90px;

            a {
                color: unset;
            }
        }
    }

    .legal-info {
        font-size: 10px;
        margin-top: 14px;
        text-align: center;
    }
}
