<div class="links-container">
    <div class="for-rent">
        <div>Mieszkania na wynajem</div>
        <div>Domy na wynajem</div>
        <div>Działki na wynajem</div>
        <div>Lokale na wynajem</div>
        <div>Hale na wynajem</div>
        <div>Obiekty na wynajem</div>
    </div>
    <div class="for-sale">
        <div>Mieszkania na sprzedaż</div>
        <div>Domy na sprzedaż</div>
        <div>Działki na sprzedaż</div>
        <div>Lokale na sprzedaż</div>
        <div>Hale na sprzedaż</div>
        <div>Obiekty na sprzedaż</div>
    </div>
    <div class="special-offers">
        <div>Oferty inwestycyjne</div>
        <div>Oferty specjalne</div>
        <div>Nieruchomości nad Bałtykiem</div>
    </div>
    <div class="contact-info">
        <div>Biuro nieruchomości Perfect House</div>
        <div>ul. Klin 17/2, 60-602 Poznań</div>
        <div>biuro@e-perfecthouse.pl</div>
        <div>61 296 03 95, 514 753 514</div>
        <div class="icons-container">

        </div>
    </div>
</div>
<div class="legal-info">Agencja nieruchomości Perfect House © 2020. Wszelkie prawa zastrzeżone.</div>
