<div class='component-container'>
    <header>
        <h1>Zarządzanie nieruchomościami</h1>
        <mat-divider></mat-divider>
        <p class='title'>
            Na poznańskim rynku nieruchomości funkcjonujemy od 2014 roku jako biuro
            zrzeszające doświadczonych pośredników w obrocie nieruchomościami. Ale
            zarządzamy także nieruchomościami z rynku mieszkaniowego oraz komercyjnego i w
            naszych szeregach posiadamy również specjalistów w tej dziedzinie. Oprócz tego
            oferujemy usługę najmu, która jest skierowana zarówno do właścicieli
            wynajmowanych lokali, jak i przyszłych inwestorów.
        </p> 
    </header>

    <main> 
        <div class="contact">
            <h2>Zapytaj o ofertę:</h2>
            <perfect-agent-brief [agent]="agentResponsibleForManagement" contactInfoVisible></perfect-agent-brief>
        </div>
        
        <h2 class="section-title">
            <span class="title">Zarządzanie wspólnotami mieszkaniowymi</span>
            <img src="assets/management_1.png">
        </h2>   
        <p>
            Zarządzanie wspólnotami mieszkaniowymi to bardzo wymagające i złożone zajęcie. Nic więc
            dziwnego, że w dobie osiedli budowanych przez prywatnych inwestorów popyt na takie usługi
            stale rośnie. Sprawny Zarządca skupia w jednym ręku wszelkie procesy zachodzące w częściach
            wspólnych obiektu oraz kieruje sprawami związanymi z funkcjonowaniem wspólnoty
            mieszkaniowej.
        </p>
        <p>Polecamy obsługę:</p>
        <ul class="top-list">
            <li class="list-section-title">Administrowanie budynkami</li>
            <ul>
                <li>plany zarządzania nieruchomością</li>
                <li>nadzór nad umowami z usługodawcami i podwykonawcami</li>
                <li>kontrole stanu technicznego nieruchomości</li>
                <li>nadzór nad czystością budynku</li>
                <li>reprezentowanie właściciela przed podmiotami zewnętrznymi</li>
                <li>prowadzenie dokumentacji nieruchomości</li>
                <li>inne czynności wg umowy</li>
            </ul>
            <li class="list-section-title">Obsługę najmu</li>
            <ul>
                <li>oparcie działalności związanej z najmem na zasadach rynkowych</li>
                <li>nadzór nad prawidłowością umów i ich wykonywaniem ze strony najemców</li>
                <li>rozliczanie najmów</li>
            </ul>
            <li class="list-section-title">Obsługę techniczną</li>
            <ul>
                <li>prowadzenie dokumentacji technicznej nieruchomości</li>
                <li>pilnowanie terminów i zlecanie przeglądów technicznych budynku oraz urządzeń</li>
                <li>pozyskiwanie ofert oraz nadzór nad pracami remontowymi</li>
            </ul>
        </ul>

        <h2 class="section-title">
            <span class="title">Zarządzanie nieruchomościami komercyjnymi</span>
            <img src="assets/management_2.png">
        </h2>
        <p>Polecamy następujące usługi w tym zakresie:</p>
        <ul class="top-list">
            <li class="list-section-title">Administrowanie budynkami</li>
            <ul>
                <li>plany zarządzania nieruchomością</li>
                <li>nadzór nad umowami z usługodawcami i podwykonawcami</li>
                <li>kontrole stanu technicznego nieruchomości</li>
                <li>nadzór nad czystością budynku</li>
                <li>reprezentowanie właściciela przed podmiotami zewnętrznymi</li>
                <li>prowadzenie dokumentacji nieruchomości</li>
                <li>inne czynności wg umowy</li>
            </ul>
            <li class="list-section-title">Obsługę najmu</li>
            <ul>
                <li>oparcie działalności związanej z najmem na zasadach rynkowych</li>
                <li>nadzór nad prawidłowością umów i ich wykonywaniem ze strony najemców</li>
                <li>rozliczanie najmów</li>
            </ul>
            <li class="list-section-title">Obsługę techniczną</li>
            <ul>
                <li>prowadzenie dokumentacji technicznej nieruchomości</li>
                <li>pilnowanie terminów i zlecanie przeglądów technicznych budynku oraz urządzeń</li>
                <li>pozyskiwanie ofert oraz nadzór nad pracami remontowymi</li>
            </ul>
        </ul>

        <h2 class="section-title">
            <span class="title">Zarządzanie lokalami i obsługa najmu</span>
            <img src="assets/management_3.png">
        </h2>
        <p>
            Obecnie coraz częściej wynajmuje się lokale mieszkaniowe w ramach umowy najmu
            krótkoterminowego lub w zwykłej postaci. Zarządzanie najmem polega na profesjonalnym
            wyręczeniu właściciela i zapewnieniu mu jak najwyższych dochodów z najmu nieruchomości.
            To doskonała lokata w przyszłość rodziny.
        </p>
        <p>
            Oferta skierowana jest do właścicieli mieszkań lub inwestorów chcących je zakupić, którzy
            zamierzają bezpiecznie i korzystnie zarabiać na wynajmie. Nasz firma obsługuje
            administracyjnie i prawnie wynajem, a właściciel zyskuje pewność, że mieszkanie pracuje na
            niego.
        </p>
        <p>Co oferujemy w ramach tej usługi:</p>
        <ul class="top-list">
            <li class="list-section-title">Pomoc w zakupie lokalu</li>
            <ul>
                <li>doradzimy i pomożemy przy zakupie wybranego lokalu</li>
                <li>doradzimy formę finansowania dzięki współpracującym z nami doradcom kredytowym</li>
            </ul>
            <li class="list-section-title">Odbieramy lokal od właściciela</li>
            <ul>
                <li>podpisujemy z właścicielem stosowną umowę o zarządzaniu najmem</li>
                <li>przepisujemy umowy na media lub pomagamy zawrzeć nowe</li>
            </ul>
            <li class="list-section-title">przygotowujemy lokal do najmu</li>
            <ul>
                <li>
                    doradzamy w jaki sposób poprawić wygląd mieszkania, np. dokonując drobnych
                    napraw czy malowania pomieszczeń
                </li>
                <li>posiadamy specjalistów od home staging, którzy uatrakcyjnią mieszkanie</li>
                <li>profesjonalna sesja zdjęciowa pozwoli uwypuklić plusy lokalu w przygotowanej ofercie</li>
            </ul>
            <li class="list-section-title">Znalezienie najemcy i podpisanie umowy</li>
            <ul>
                <li>znajdujemy najemcę</li>
                <li>pomagamy przy podpisaniu korzystnej dla właściciela umowy</li>
                <li>przygotowujemy treść umowy oraz protokół zdawczo-odbiorczy mieszkania</li>
                <li>nasi pracownicy są obecni przy każdym z tych czynności</li>
            </ul>
            <li class="list-section-title">Okres trwania najmu</li>
            <ul>
                <li>czuwamy nad przebiegiem najmu</li>
                <li>rozliczamy wpłaty i koszty utrzymania lokalu</li>
                <li>przesyłamy zyski na konto właściciela</li>
                <li>pomagamy ubezpieczyć mieszkanie</li>
                <li>szukamy służb technicznych, które w razie awarii naprawią usterkę</li>
                <li>
                    informujemy na bieżąco o zmianach w przepisach dotyczących najmu, w tym w
                    kwestiach podatkowych
                </li>
                <li>pomagamy znaleźć nowego najemcę lub sprzedać mieszkanie, jeśli właściciel
                    zdecyduje się na taki krok.
                </li>
            </ul>
        </ul>
    </main>
</div>
