@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    
    @include article-page;

    h2 {
        color: $light-green;
        text-align: left;
        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }

    main {
        margin-bottom: 0;

        .contact {
            @include perfect-box;
            left: 50%;
            margin-left: 145px;
            padding: 1rem 1rem 2rem;
            position: absolute;
            top: 480px; 
            width: 400px;
            @media screen and (max-width: $desktop-large) {
                margin-left: 95px;
                top: 425px;
            }
            @media screen and (max-width: $desktop-medium) {
                margin-left: 35px;
            }
            @media screen and (max-width: $desktop-small) {
                margin: 2rem auto;
                left: unset;
                position: unset;
                top: unset;
                width: 340px;
            }
            @media screen and (max-width: $mobile-small) {
                width: 224px;
            }

            h2 {
                margin-block-start: 0;
                @media screen and (max-width: $mobile-small) {
                    text-align: center;
                }
            }
        }

        .section-title {
            align-items: center;
            display: flex;
            margin-bottom: 0;

            img {
                height: 2.5em;
                margin-right: 0.5em;
                width: 2.5em;
                @media screen and (max-width: $mobile) {
                    height: 4em;
                    margin-right: 0;
                    width: 4em;
                }
            }
        }

        .top-list {
            list-style-type: none;
            padding-inline-start: 0;

            .list-section-title {
                font-weight: 700;
                margin-top: 1rem;

                &:first-of-type {
                    margin-top: unset;
                }
            }

            ul {
                @media screen and (max-width: $desktop-small) {
                    padding-inline-start: 30px;
                }
            }
        }
    }
}
