@import "~src/variables.scss";

.component-container {
    margin: 0 auto; 
    width: 1000px;
    @media screen and (max-width: $desktop-medium) {
        width: 600px;
    }

    @media screen and (max-width: $mobile-large) {
        width: unset;
        margin: 0 20px;
    }
    header {    
        img {
            float: right;
            height: auto;
            margin: 10px 10px 10px 20px;
            max-width: 300px;
    }
    }
    main {
        margin-block-end: 50px;
        margin-block-start: 0px;
        text-align: justify;
        
        p {
            line-height: 2em;
        }
        a {
            color: $font-grey;
            font-size: 16px;
            font-style: normal;
            text-decoration: none;
            
                span {
                    font-style: italic;
                    font-size: inherit;
                }
        }
    }
}
