<div class='component-container'>
    <header>
        <h1>Doradztwo kredytowe</h1>
        <mat-divider></mat-divider>
        <img id="vertical-pic" *ngIf="!windowSizeDetector.isWindowSmallerThanMobileLarge" 
            src="/assets/consultancy-vertical.png">
        <img id="horizontal-pic" *ngIf="windowSizeDetector.isWindowSmallerThanMobileLarge" 
        src="/assets/consultancy-horizontal.jpeg">
    </header>
    <main>
        <p>
            Nasi doradcy kredytowi w branży finansowej pracują od ponad 10 lat. Obsługują również obcokrajowców planujących zakup
            nieruchomości w Polsce. Dysponują ofertami wszystkich największych banków w Polsce.
        </p>
        <p>
            W swojej pracy pomagają klientom w uzyskaniu kredytu hipotecznego, gotówkowego oraz firmowego kierując się najkorzystniejszymi
            warunkami cenowymi jak i szczególnymi preferencjami klienta. Podczas spotkania określają zdolność kredytową klientów.
        </p>
        <p>
            Analizują dostępne na rynku oferty i dopasowują najlepsze rozwiązania. Skupiają się nie tylko na racie i odsetkach, ale na
            wszystkich kosztach, aby określić całkowity rzeczywisty koszt kredytu.
        </p>
        <h2>
            Dlaczego warto skorzystać z ich usług?
        </h2>
        <p>
            Usługi dla klientów są bezpłatne.
        </p>
        <p>
            Sporą grupę naszych klientów stanowią osoby z polecenia lub te, które kolejny raz zdecydowały się na kredyt. Potwierdza to
            zadowolenie klientów z obsługi zarówno pod względem merytorycznym jak i interpersonalnym.
        </p>
        <p>
            W relacji z klientem nasi doradcy stawiają na profesjonalizm, wysoki poziom wiedzy merytorycznej i przyjazną atmosferę.
            Spotkanie nie ma określonych ram czasowych. Każdemu klientowi poświęcają tyle czasu, ile wymaga rzetelne omówienie danej
            sprawy. Zależy im na tym, aby klient po spotkaniu wiedział jak najwięcej. Na adres emailowy przesyłają szczegółowe
            wyliczenia wybranych ofert. Są z klientem w kontakcie w razie dodatkowych pytań.
        </p>
        <h2>
            Co dalej?
        </h2>
        <p>
            Kolejny etap to złożenie wniosku kredytowego do banku. Ważne, aby dokumentacja kredytowa była kompletna. Ma to bezpośrednie
            przełożenie na czas analizy i uzyskanie pozytywnej decyzji. Nasi doradcy pomagają w przygotowaniu kompletu dokumentów, które
            różnią się w zależności od transakcji jak i sytuacji klienta. Po uzyskaniu decyzji pozytywnej klient otrzymuje umowę kredytową,
            z którą może się wcześniej zapoznać i omówić z doradcą. Zależy nam, aby klient podpisujący umowę kredytową w banku czuł się
            komfortowo. Doradcy kredytowi towarzyszą klientowi na każdym etapie, są obecni również podczas podpisania umowy kredytowej.
            Służą swoją wiedzą i doświadczeniem, również w kwestii dokumentów wymaganych do finalizacji umowy u notariusza.
        </p>
        <p>
            <strong>Zapraszamy do współpracy!</strong>
        </p>
    </main>
</div>
