@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container { 

    @include article-page;
    
    header {    
        #vertical-pic {
            float: right;
            height: auto;
            margin: 14px 0px 10px 20px;
            max-width: 360px;
        }
        #horizontal-pic {
            height: auto;
            max-width: 100%;
        }
    }
    main {
        h2 {
            color: $light-green;
        }
    }
}
