@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container { 

    @include articlePage;
    
    header {    
        #vertical-pic {
            float: right;
            height: auto;
            margin: 14px 0px 10px 20px;
            max-width: 300px;
        }
        #horizontal-pic {
            height: auto;
            max-width: 100%;
        }
    }
    main {
        h3 {
            font-size: 13px;
        }

        .tel {
            font-size: 16px;
            text-transform: uppercase;

            a {
                color: unset;
                text-decoration: none;
                font-size: 16px;
                font-style: italic;
            }
        }
    }
}
