<div class='component-container'>
    <header>
        <h2>Doradztwo</h2>
        <mat-divider></mat-divider>
    </header>
    <main>
        <h3>Licencjonowany pośrednik z doświadczeniem
            w analizie stanu prawnego nieruchomości.
        </h3>
        <h3>
            Przygotowanie nieruchomości do sprzedaży.
        </h3>
        <img src="https://www.e-perfecthouse.pl/grafika/consultant-779590_1280.jpg">
        <p>Sprzedajesz nieruchomość i potrzebujesz pomocy w ustaleniu stanu prawnego swojej nieruchomości? 
            Potrzebujesz wsparcia w kontaktach z urzędami, sądami czy spółdzielnią mieszkaniową? 
            Chcesz, aby jedno doświadczone biuro prowadziło sprzedaż Twojej nieruchomości?
        </p>
        <a href="tel:61 296 03 95">Zadzwoń: <span>61 296 03 95</span>
        </a>
        <p>Kupujesz i chcesz czuć się bezpiecznie inwestując własne pieniądze na zakup nieruchomości? 
            Chcesz mieć nadzór nad zakupem – od prezentacji po wydanie kluczy do mieszkania? 
            Nie wiesz jakie dokumenty należy zweryfikować aby kupić bezpiecznie?
        </p>
        <a href="tel:61 296 03 95">Zadzwoń: <span>61 296 03 95</span>
        </a>
        <p>Umów się na bezpłatną rozmowę a przekonasz się,
            że koszt naszej usługi to nikły procent od wartości
            za jaką nabywasz nieruchomość i niewielka kwota w porównaniu z tym,
            co można stracić kupując bez odpowiedniej weryfikacji dokumentów
            i sprawdzenia uwarunkowań przestrzennych lub sprzedając zbyt długo
            z powodu niekompletnej dokumentacji. A czyż poczucie bezpieczeństwa i spokojny sen, nie są bezcenne?
        </p>
    </main>
</div>