<div class='component-container'>
    <header>
        <h2>Doradztwo</h2>
        <mat-divider></mat-divider>
        <img id="vertical-pic" *ngIf="!windowSizeDetector.isWindowSmallerThanMobileLarge" 
            src="/assets/consultancy-vertical.png">
        <img id="horizontal-pic" *ngIf="windowSizeDetector.isWindowSmallerThanMobileLarge" 
        src="/assets/consultancy-horizontal.jpeg">
    </header>
    <main>
        <h3>
            Licencjonowany pośrednik z doświadczeniem
            w analizie stanu prawnego nieruchomości.
        <br/>
            Przygotowanie nieruchomości do sprzedaży.
        </h3>
        
        <p>
            Sprzedajesz nieruchomość i potrzebujesz pomocy
            w ustaleniu stanu prawnego swojej nieruchomości? 
            <br/>
            Potrzebujesz wsparcia w kontaktach z urzędami, 
            sądami czy spółdzielnią mieszkaniową? 
            <br/>
            Chcesz, aby jedno doświadczone biuro prowadziło
            sprzedaż Twojej nieruchomości?
        </p>
        <div class='tel'>
            Zadzwoń:
            <a href="tel:61 296 03 95">
                "61 296 03 95"
            </a>
        </div>
        <p>
            Kupujesz i chcesz czuć się bezpiecznie inwestując
            własne pieniądze na zakup nieruchomości? 
            <br/>
            Chcesz mieć nadzór nad zakupem – od prezentacji
            po wydanie kluczy do mieszkania?
            <br/>
            Nie wiesz jakie dokumenty należy zweryfikować aby
            kupić bezpiecznie?
        </p>
        <div class='tel'>
            Zadzwoń:
            <a href="tel:61 296 03 95">
                "61 296 03 95"
            </a>
        </div>
        <p>
            Umów się na bezpłatną rozmowę a przekonasz się,
            że koszt naszej usługi to nikły procent od wartości
            za jaką nabywasz nieruchomość
            i niewielka kwota w porównaniu z tym,
            co można stracić kupując bez odpowiedniej weryfikacji dokumentów
            i sprawdzenia uwarunkowań przestrzennych lub sprzedając zbyt długo
            z powodu niekompletnej dokumentacji.
            A czyż poczucie bezpieczeństwa
            i spokojny sen, nie są bezcenne?
        </p>
    </main>
</div>