@import "~src/mixins.scss";
@import "~src/variables.scss";


.image-container {
    img {
        max-width: 100%;

        @media screen and (max-width: $desktop-small) {
            height: 60vw;
            object-fit: cover;
            object-position: center;
        }
    }
}

.component-container { 

    @include article-page;
    
    main {
        h2 {
            color: $light-green;
        }
    }
}
