@import "~src/variables.scss";
@import "~src/mixins.scss";

.grid-container { 
        
        @include articlePage;

        display: grid;
        gap: 30px 50px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        margin: 50px auto;
        max-width: 700px;

        mat-card {
            font-size: 15px;
            min-height: 400px;
            text-align: justify;
            width: 300px;
        }

        @media screen and (max-width: $desktop-small) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            margin: 20px auto;
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            margin: 20px auto;
        }
}
