<perfect-loading-spinner
  [class.removed]="(isLoadingWithSlightDelay$ | async) === false"
></perfect-loading-spinner>

<div
  class="content-container"
  [class.hidden]="isLoadingWithSlightDelay$ | async"
>
  <perfect-header
    (sideMenuToggled)="toggleSideMenuVisibility()"
    (aboutUsOptionsToggled)="toggleAboutUsOptionsVisibility()"
  ></perfect-header>
  @if (isSideMenuVisible) {
    <perfect-dropdown-navigation
      class="side-navigation"
      sideNavigation
      [links]="allLinks"
      [@openCloseSideNavAnimation]
    ></perfect-dropdown-navigation>
  }

  @if (isAboutUsOptionsVisible) {
    <perfect-dropdown-navigation
      class="about-us-navigation"
      [links]="aboutUsLinks"
    ></perfect-dropdown-navigation>
  }

  @if ((offersStateManager.isLoading$ | async) === false) {
    <div
      class="router-outlet-container"
      [style.opacity]="isSideMenuVisible || isAboutUsOptionsVisible ? 0.3 : 1"
    >
      <router-outlet></router-outlet>
    </div>
  }

  @if (isSnackbarVisible) {
    <div class="snackbar-container">
      <div class="snackbar-content">
        <span>{{ snackbarContent }}</span>
        <i
          class="pi pi-times close-icon"
          (click)="isSnackbarVisible = false"
        ></i>
      </div>
    </div>
  }

  <perfect-footer></perfect-footer>
</div>
