@import "src/variables.scss";

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .side-navigation {
    height: 336px;
    left: 10%;
    position: absolute;
    top: 60px;
    width: 260px;
  }

  .about-us-navigation {
    height: 142px;
    position: absolute;
    left: 50%;
    margin-left: 430px;
    top: 115px;
    width: 180px;
    @media screen and (max-width: $desktop-large) {
      margin-left: 384px;
      top: 110px;
      width: 164px;
    }
    @media screen and (max-width: $desktop-medium) {
      margin-left: 334px;
      top: 105px;
      width: 148px;
    }
  }

  .router-outlet-container {
    flex: 1 0 auto;
  }

  perfect-footer {
    flex-shrink: 0;
  }
}
