@import 'variables.scss';
@import 'mixins.scss';

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .side-navigation {
    height: 336px;
    left: 10%;
    position: absolute;
    top: 60px;
    width: 260px;
  }

  .about-us-navigation {
    height: 142px;
    position: absolute;
    left: 50%;
    margin-left: 430px;
    top: 115px;
    width: 180px;
    @media screen and (max-width: $desktop-large) {
      margin-left: 384px;
      top: 110px;
      width: 164px;
    }
    @media screen and (max-width: $desktop-medium) {
      margin-left: 334px;
      top: 105px;
      width: 148px;
    }
  }

  .router-outlet-container {
    flex: 1 0 auto;
  }

  .snackbar-container {
    position: fixed;
    bottom: 5%;
    width: 100%;
    .snackbar-content {
      @include perfect-box;
      align-items: center;
      background-color: $light-green;
      color: $font-white;
      display: flex;
      font-weight: 700;
      justify-content: space-between;
      line-height: 5rem;
      margin: 0 auto;
      padding: 0 20px;
      width: 350px;
      @media screen and (max-width: $desktop-small) {
        width: 300px;
      }

      i {
        cursor: pointer;
      }
    }
  }

  perfect-footer {
    flex-shrink: 0;
  }
}
