@import "~src/variables.scss";
main {
    font-family: "Open Sans", sans-serif;
    $font-grey: #535353;
    font-size: 12px;
    margin: 200px;
    margin-block-start: 0px;
    margin-block-end: 50px;
    text-align: justify;
    @media screen and (max-width: $mobile-large) {
        flex-direction: column;
        margin: 30px 30px;
    }
    h1 {
        font-size: 15px; 
    }
    .title {
        font-size: 14px;
    }
    h3 {
        font-size: 13px;
    }
}
.contact {
    $font-grey: #535353;
    text-align: center;
    font-size: 12px;
}