div {
    color: rgba(0,0,0, 0.8);
    font-size: 15px;
    text-align: left;
    font-family: Verdana, sans-serif;
    margin: 0 100px;
}
h1 {
    font-size: 25px;
    margin: 0 100px;
}
h2 {
    font-size: 20px;
    line-height: 0px;
}
.main-text{
    font-size: 17px;
    margin: 0 100px;
    margin-block-start: 50px;
    margin-block-end: 50px;
}
.contact{
    color: black;
    text-align: center;
    font-size: 15px;
}