<div class='component-container'>
    <header>
        <h2>Zarządzanie najmem</h2>
        <p class='title'>
            Najem bez ryzyka! 
            Wygodny i bezproblemowy dochód z wynajmu nieruchomości mieszkaniowych oraz komercyjnych.
            Zarabiaj bezpiecznie na nieruchomościach z Perfect House.
        </p> 
    </header>

    <mat-divider></mat-divider>

    <main> 
        <h3>Jak zarządzamy najmem?</h3>   
        <p>
            <strong>W pierwszej kolejności</strong> określamy stan i zyskowność nieruchomości – nasi specjaliści doradzą Państwu 
            jak skutecznie przygotować mieszkanie do wynajmu, 
            opierając się na kosztorysie przedstawimy zakres działań mających podnieść wartość i standard mieszkania. 
            Na <strong>specjalne</strong> życzenie właściciela nadzorujemy prace remontowe i wykończeniowe nieruchomości.
        </p>
        <p>
            <strong>Współpracując z właścicielem</strong> mieszkania opracowujemy warunki wynajmu nieruchomości,
            następnie przygotowujemy profesjonalną ofertę dla potencjalnych najemców – inwestujemy w marketing i promocję oferty, 
            współpracujemy z najważniejszymi portalami branżowymi na Polskim rynku nieruchomości.
        </p>
        <p>
            <strong>Weryfikujemy potencjalnego najemcę</strong> w celu zapewnienia bezpieczeństwa naszym klientom. 
            W Państwa imieniu negocjujemy warunki umów oraz maksymalne stawki za najem,
            koordynując działania prawne w zakresie zawarcia umowy najmu.
            Staramy się, aby umowa chroniła w równym stopniu obie strony, jednak gwarantowała bezwzględne bezpieczeństwo właścicielowi 
            nieruchomości w wypadku nie wywiązywania się najemcy z obowiązków wynikających z zapisów umowy.
        </p>
            <strong>W umowę najmu</strong> wpisane zostają wszelkie uzgodnienia dotyczące praw i
            obowiązków zarówno wynajmującego jak i najemcy.
        <p>
            <strong>Przed wynajęciem nieruchomości</strong> dokonujemy jej inwentaryzacji. W trakcie trwania najmu 
            kontrolujemy płatności związane z czynszem oraz opłatami eksploatacyjnymi, 
            a także monitorujemy stan techniczny lokalu, nadzorujemy wszelkie prace remontowe oraz konserwacyjne nieruchomości.
        </p>
        <p>
            <strong>Na koniec każdego miesiąca</strong> przekazujemy właścicielowi dochód wraz z raportem.
        </p>
        <p>
            <strong>Po zakończonym najmie</strong> dokonujemy odbioru mieszkania na podstawie protokołu zdawczo-odbiorczego 
            i ponownie umieszczamy je w puli aktywnych ofert biura.
        </p>
    </main>
    <footer class="contact">
        <p>
            <strong>Osoba odpowiedzialna za zarządzanie najmem:</strong>
        </p>
        <div class="agent-brief-container">
            <perfect-agent-brief [agent]="agentResponsibleForRentalManagement"></perfect-agent-brief>
        </div>
    </footer>
</div>
