@import "~src/variables.scss";

div {
    $font-grey: #535353;
    font-size: 15px;
    text-align: justify;
    font-family: Verdana, sans-serif;
    margin: 0 100px;
}
h1 {
    font-size: 25px;
    margin: 0 100px;
}
h2 {
    font-size: 20px;
    line-height: 0px;
}
main {
    font-size: 17px;
    margin: 0 100px;
    margin-block-start: 50px;
    margin-block-end: 50px;
}
.contact {
    $font-grey: #535353;
    text-align: center;
    font-size: 15px;
}
section {
    font-size: 18px;
    text-align: justify;
    margin: 0 100px;
}