!DOCTYPE html>
<html lang='pl'> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="rental-management.component.scss">
    </head>
    <body>
        <header class='header'>
            <h1 class='header-title'>Zarządzanie najmem</h1>
            </header>
        <div class='middle-title>
            <h3>NAJEM BEZ RYZYKA! Wygodny i bezproblemowy dochód z wynajmu nieruchomości mieszkaniowych oraz komercyjnych.
            Zarabiaj bezpiecznie na nieruchomościach z PERFECT HOUSE</h3>
            <h2>Jak zarządzamy najmem?</h2>
         </div>
    </body>
</html>