@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    
    @include article-page;

    main {
        margin-bottom: 0;
    }

    footer {
        .agent-brief-container {
            display: flex;
            justify-content: center;
        }
    }
}
