<div>
    <header>
         <h1>Zarządzanie najmem</h1>
         <div class="middle-text"> 
             <h3>NAJEM BEZ RYZYKA! Wygodny i bezproblemowy dochód z wynajmu nieruchomości mieszkaniowych oraz komercyjnych.<br/>
         Zarabiaj bezpiecznie na nieruchomościach z PERFECT HOUSE</h3> 
             <h2>Jak zarządzamy najmem?</h2>   
         </div>
         <hr>
     </header>
     <main>
         <p class="main-text">
             <strong>W pierwszej kolejności</strong> określamy stan i zyskowność nieruchomości – nasi specjaliści doradzą Państwu 
            <br />
            jak skutecznie przygotować mieszkanie do wynajmu, 
            <br />
            opierając się na kosztorysie przedstawimy zakres działań mających podnieść wartość i standard mieszkania. 
            <br />
            Na specjalnie życzenie właściciela nadzorujemy prace remontowe i wykończeniowe nieruchomości.
            <br /><br />
            <strong>Współpracując z właścicielem</strong> mieszkania opracowujemy warunki wynajmu nieruchomości,
             <br /> 
            następnie przygotowujemy profesjonalną ofertę dla potencjalnych najemców – inwestujemy w marketing i promocję oferty, 
             <br />
            współpracujemy z najważniejszymi portalami branżowymi na Polskim rynku nieruchomości.
             <br /><br />
            <strong>Weryfikujemy potencjalnego najemcę</strong> w celu zapewnienia bezpieczeństwa naszym klientom. 
            <br />
            W Państwa imieniu negocjujemy warunki umów oraz maksymalne stawki za najem, koordynując działania prawne w zakresie zawarcia umowy najmu.
            <br />
            Staramy się, aby umowa chroniła w równym stopniu obie strony, jednak gwarantowała bezwzględne bezpieczeństwo właścicielowi 
            <br />
            nieruchomości w wypadku nie wywiązywania się najemcy z obowiązków wynikających z zapisów umowy. 
            <br />
            W umowę najmu wpisane zostają wszelkie uzgodnienia dotyczące praw i obowiązków zarówno wynajmującego jak i najemcy.
            <br /><br />
            <strong>Przed wynajęciem nieruchomości</strong> dokonujemy jej inwentaryzacji. W trakcie trwania najmu 
            <br />
            kontrolujemy płatności związane z czynszem oraz opłatami eksploatacyjnymi, 
            <br />
            a także monitorujemy stan techniczny lokalu, nadzorujemy wszelkie prace remontowe oraz konserwacyjne nieruchomości.
            <br /><br />
            <strong>Na koniec każdego miesiąca</strong> przekazujemy właścicielowi dochód wraz z raportem.
            <br /><br />
            <strong>Po zakończonym najmie</strong> dokonujemy odbioru mieszkania na podstawie protokołu zdawczo-odbiorczego 
             i ponownie umieszczamy je w puli aktywnych ofert biura.
         </p>
     </main>
     <footer>
         <section class="contact">
             <h3>W sprawie zarządzania nieruchomościami prosimy o kontakt z Magdaleną Janicką, nr licencji 23037 <br /><br />
             Kontakt: tel. 514 753 514 <address property='email'><a href="mailto:m.janicka@e-perfecthouse.pl" style="color: black; text-decoration: none;">email: m.janicka@e-perfecthouse.pl</a>
             </address></h3>
         </section>
         </footer>
     </div>
