@import "~src/variables.scss";

.component-container {
    margin: 0 auto; 
    width: 800px;
    @media screen and (max-width: $desktop-medium) {
        width: 600px;
    }

    @media screen and (max-width: $mobile-large) {
        width: unset;
        margin: 0 20px;
    }
    
    header {
        h1 {
            font-size: 15px; 
        }

        .title {
            font-size: 14px;
        }
    }

    main {
        margin-block-end: 50px;
        margin-block-start: 0px;
        text-align: justify;

        h3 {
            font-size: 13px;
        }
    }

    .contact {
        $font-grey: #535353;
        text-align: center;
        font-size: 14px;
        
        .tel-and-email {
            list-style-type: none;
            a {
                color: $font-grey;
                text-decoration: none;
                font-style: normal;

                span {
                    font-style: italic;
                    }
            }
        }
    }
}