<div class='component-container'>
    <header>
        <h2 class='title'>
        Ludzie
        </h2>
    </header> 
    <div class="list-of-agents">
        <perfect-agent-brief
            *ngFor="let agent of agentsDao.listAgents()"
            [agent]="agent" 
            [isVertical]=true
            (click)="navigateToAgentPage(agent)">
        </perfect-agent-brief>
    </div>
    <div class="about-text">
        <p>
            Firma PERFECT HOUSE powstała dzięki pasji grupy przyjaciół,
            dla których sprzedaż nieruchomości <strong>z jednej strony sztuką realizowania ludzkich wizji i marzeń,
            a z drugiej po prostu pomocą w rozwiązywaniu codziennych problemów.</strong>  
        </p>  
        <p>
            Biuro pracuje pod nadzorem licencjonowanych pośredników i zatrudnia wyłącznie doradców z wieloletnim doświadczeniem. 
            Każdy klient traktowany jest podmiotowo i obsługiwany kompleksowo, od A do Z. Oznacza to, że nasi ludzie wspierają go
            od momentu przyjęcia zlecenia po zamknięcie transakcji.
        </p>
        <p>
            Pomagają wycenić nieruchomość i przygotować ją do sprzedaży,
            a także często uczestniczą w procesie właściwego określenia potrzeb i tym samym parametrów poszukiwania nieruchomości,
            w przypadku klientów poszukujących działek, domów, mieszkań czy lokali. Wszystkie sprzedawane przez nas nieruchomośc
            są sprawdzone dokładnie pod względem prawnym. Mamy także swoich doradców finansowych, którzy dobiorą najbardziej korzystną
            dla konkretnego klienta ofertę kredytową.
        </p>
        <p>
            Nie ma nieruchomości, których nie da się sprzedać ani takich zainteresowanych,
            dla których nie można nic znaleźć. To kwestia odpowiedniego dobrania nieruchomości, znalezienia równowagi pomiędzy
            potrzebami i możliwościami klientów a ceną nieruchomości. 
        </p>
        <p>
            <strong>Cel jest prosty – po transakcji wszystkie jej strony muszą być
            zadowolone.</strong>
        </p>
    </div>

</div>