 @import "~src/variables.scss";

.component-container {
    // background image source: https://unsplash.com/photos/ziIu9izp5Ac
    background: url('/assets/under_construction.jpeg') no-repeat center bottom fixed;
    background-size: cover;
    font-weight: 700;
    height: 68.7vh;
    margin-bottom: -14px;
    text-align: center;
    @media screen and (max-width: $desktop-small) {
        height: 73.9vh;
    }

    .info-container {
        background-color: rgba(255, 255, 255, 0.85);
        position: relative;
        top: 100px;
        width: 100%;

        .info {
            color: $dark-green;
            font-size: 64px;
            margin: 0 auto;
            @media screen and (max-width: $desktop-small) {
                font-size: 44px;
            }
        }
    }
}
