@import 'variables.scss';
@import 'mixins.scss';

.component-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: $desktop-small) {
    @include perfect-box;
    margin: 0 auto 20px;
    padding: 15px 25px;
    width: 316px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 50px;
    width: 100%;
    @media screen and (max-width: $desktop-small) {
      flex-direction: column;
      margin-bottom: 0;
      min-height: 0;
      width: 270px;

      & > * {
        align-self: start;
        margin-bottom: 10px;
      }
    }

    &:last-of-type {
      margin-top: 5px;
    }

    .transaction-toggle {
      @include perfect-toggle-button;

      ::ng-deep .p-button {
        @media screen and (max-width: $desktop-medium) {
          padding: 0.5rem 0.75rem;
        }
        @media screen and (max-width: $desktop-small) {
          padding: 0.5rem 1rem;
        }
      }
    }

    .location-input {
      ::ng-deep perfect-input input {
        @media screen and (max-width: $desktop-small) {
          width: 130px;
        }
      }
    }

    .checkboxes-container {
      display: grid;
      gap: 10px 10px;
      grid-template-columns: repeat(2, 1fr);
      @media screen and (max-width: $desktop-small) {
        gap: 10px 0;
      }

      &.additional-fields {
        gap: 10px 4px;
      }

      .checkbox-container {
        display: flex;

        p-checkbox {
          padding-right: 5px;

          ::ng-deep .p-checkbox {
            .p-checkbox-box {
              &.p-highlight {
                border-color: $light-green;
                background: $light-green;
              }

              .p-checkbox-icon {
                color: $dark-green;
                font-weight: 700;
              }
            }

            &:not(.p-checkbox-disabled) {
              .p-checkbox-box {
                &:hover {
                  border-color: $light-green;
                  box-shadow: 0 0 0 0.2rem $light-green;
                }

                &.p-focus {
                  border-color: #ced4da;
                  box-shadow: initial;
                }
              }

              &.p-checkbox-checked .p-checkbox-box {
                &.p-focus {
                  border-color: $light-green;
                  box-shadow: 0 0 0 0.2rem $light-green;
                }
              }
            }
          }
        }

        label {
          color: $font-light-grey;
          font-weight: 700;
          padding-top: 1.5px;
        }
      }
    }

    .from-to-input-container {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: $desktop-small) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
        width: 262px;
      }

      .title {
        color: $font-light-grey;
        font-weight: 700;
        margin-bottom: 5px;
        @media screen and (max-width: $desktop-small) {
          margin-bottom: 0;
        }
      }

      &:not(.area) .inputs-container {
        perfect-input {
          ::ng-deep input {
            width: 6rem;
          }
        }
      }

      .inputs-container {
        align-items: center;
        display: flex;
        ::ng-deep perfect-input input {
          @media screen and (max-width: $desktop-small) {
            width: 75px;
          }
        }

        span {
          color: $font-light-grey;
          font-weight: 700;
        }

        & > * {
          margin-right: 5px;
        }

        &:last-child {
          margin-right: unset;
        }
      }
    }

    .area {
      @media screen and (max-width: $desktop-small) {
        order: 3;
      }
    }

    .market-toggle {
      @include perfect-toggle-button;
      @media screen and (max-width: $desktop-small) {
        order: 3;
      }

      ::ng-deep .p-button {
        @media screen and (max-width: $desktop-medium) {
          padding: 0.5rem 0.75rem;
        }
        @media screen and (max-width: $desktop-small) {
          padding: 0.5rem 1rem;
        }
      }
    }

    .price-slider {
      @media screen and (max-width: $desktop-small) {
        margin-left: 3px;
      }
    }

    .symbol-input {
      margin-bottom: 15px;
      margin-top: 10px;
    }

    .buttons-container {
      display: flex;
      @media screen and (max-width: $desktop-small) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 257px;
      }

      p-button {
        @include perfect-button;
      }

      .show-advanced {
        font-weight: 700;
        margin-right: 10px;

        .label {
          font-weight: 700;
          margin-right: 0.5rem;
        }

        ::ng-deep .p-button {
          background-color: $dark-green;
          border: 1px solid $dark-green;
          color: $font-white;

          &.p-highlight {
            border-color: $light-green;
          }

          &:not(.p-disabled):not(.p-highlight):hover {
            border-color: light-green;
          }
        }
      }
    }
  }
}
