@import '~src/variables.scss';
@import '~src/mixins.scss';

.component-container {
  @include responsive-page;
  height: 100%;
  margin: 0 auto 2rem;

  .card {
    @include perfect-box;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 100%;
    @media screen and (max-width: $desktop-small) {
      padding: 1rem;
    }
  }

  .misc-agent-container {
    display: flex;
    height: 715px;
    justify-content: space-between;
    @media screen and (max-width: $desktop-large) {
      height: 627px;
    }
    @media screen and (max-width: $desktop-medium) {
      height: 514px;
    }
    @media screen and (max-width: $desktop-small) {
      flex-direction: column;
    }
    @media screen and (max-width: $tablet) {
      height: 445px;
    }
    @media screen and (max-width: $mobile-small) {
      height: 436px;
    }

    .misc-container {
      height: 100%;
      margin: 0;
      margin-right: 1rem;
      overflow: hidden;
      padding: 0;
      @media screen and (max-width: $desktop-small) {
        width: 100%;
      }

      perfect-map {
        ::ng-deep .map {
          height: 715px;
          @media screen and (max-width: $desktop-large) {
            height: 627px;
          }
          @media screen and (max-width: $desktop-medium) {
            height: 514px;
          }
          @media screen and (max-width: $desktop-small) {
            height: 445px;
          }
          @media screen and (max-width: $mobile-small) {
            height: 368px;
          }

          .ol-viewport canvas {
            border-radius: 15px;
            @media screen and (max-width: $desktop-small) {
              border-radius: 10px;
            }
          }
        }
      }

      embed {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        @media screen and (max-width: $desktop-small) {
          border-radius: 10px;
        }
      }
    }

    .agent-buttons-container {
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-left: auto;
      width: 323px;
      @media screen and (max-width: $desktop-small) {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0;
        width: 100%;
      }
      @media screen and (max-width: $mobile-small) {
        margin: 0 auto;
      }

      .p-button-rounded {
        background-color: white;
        border: 1px solid white;
        color: $dark-green;
        font-weight: 700;
        height: 2.75rem;
        margin: 0 auto 1rem;
        width: 13rem;
        @media screen and (max-width: $desktop-small) {
          margin-bottom: 0;
          margin-top: 1rem;
          width: 10rem;
        }
        @media screen and (max-width: $mobile-small) {
          width: initial;
        }

        &:not(.p-disabled):not(.p-highlight):hover {
          border-color: $dark-green;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .selected {
        background-color: $light-green;
        border: 1px solid $light-green;
        color: $dark-green;
      }
    }
  }

  .bottom-container {
    padding-top: 0.01rem;
    width: 100%;

    .basic-info {
      h2 {
        margin-bottom: 0.5rem;
        @media screen and (max-width: $tablet) {
          text-align: center;
        }
      }

      .location {
        align-items: center;
        color: $font-light-grey;
        display: flex;
        @media screen and (max-width: $tablet) {
          justify-content: center;
        }

        i {
          margin-right: 3px;
        }
      }

      .price-container {
        float: right;
        font-weight: 700;
        position: relative;
        text-align: right;
        top: -4.4rem;
        @media screen and (max-width: $tablet) {
          float: initial;
          position: initial;
          text-align: center;
          top: 0;
        }

        .price {
          color: $light-green;
          font-size: 2rem;

          .client-price {
            color: $font-grey;
            font-size: 16px;
            position: relative;
            top: -0.3rem;
          }
        }

        .price-per-meter {
          color: $font-light-grey;
          margin-top: 5px;

          &.hidden {
            visibility: hidden;
          }
        }
      }
    }

    .description-details {
      display: flex;
      justify-content: space-between;
      top: -2rem;
      position: relative;
      width: 100%;
    }

    .description-details-responsive {
      margin: 1rem auto 0;
      width: 98%;
      @media screen and (max-width: $mobile-large) {
        width: 100%;
      }

      p-TabView {
        ::ng-deep .p-tabview {
          .p-tabview-nav li {
            width: 80px;

            &.p-highlight .p-tabview-nav-link {
              color: $font-grey;
              border-color: $light-green;
            }

            &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
              color: $font-grey;
              border-color: $light-green;
            }

            .p-tabview-nav-link {
              padding: 1rem 0;

              &:not(.p-disabled):focus {
                box-shadow: unset;
              }

              .p-tabview-title {
                margin: 0 auto;
              }
            }
          }

          .p-tabview-panels {
            padding: 1rem 0;
          }
        }
      }
    }

    .description {
      margin-right: 3rem;
      margin-bottom: -2rem;
      text-align: justify;
      white-space: pre-line;
      width: 55%;
      @media screen and (max-width: $desktop-medium) {
        width: 50%;
      }
      @media screen and (max-width: $desktop-small) {
        margin-right: 0;
        width: 100%;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      width: 40%;
      @media screen and (max-width: $desktop-medium) {
        width: 50%;
      }
      @media screen and (max-width: $desktop-small) {
        width: 100%;
      }

      .field {
        border-bottom: 1px dashed $font-light-grey;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        padding-bottom: 0.25rem;
        width: 100%;

        &.last {
          border-bottom: initial;
        }

        .field-name {
          font-weight: 700;
          max-width: 210px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @media screen and (max-width: $desktop-small) {
            max-width: initial;
          }
        }

        .field-value {
          max-width: 235px;
          overflow: hidden;
          text-align: right;
          @media screen and (max-width: $desktop-small) {
            max-width: initial;
          }
        }

        .unit {
          margin-left: -0.25rem;
        }
      }
    }

    .legal-note {
      color: $font-light-grey;
      font-size: 10.5px;
      @media screen and (max-width: $desktop-small) {
        margin: 0 auto;
        width: 98%;
      }
      @media screen and (max-width: $mobile-large) {
        width: 100%;
      }
    }
  }

  .agent-brief {
    cursor: pointer;
    margin-top: 0;
    max-height: 376px;
    padding: 25px 0;
    @media screen and (max-width: $desktop-small) {
      padding: 2rem 1.2rem;
      margin: 0 auto;
      width: 280px;
    }
  }
}
