@use 'variables.scss';
@use 'mixins.scss';

.component-container {
  @include mixins.responsive-page;
  height: 100%;
  margin: 0 auto 2rem;

  .card {
    @include mixins.perfect-box;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 100%;
    @media screen and (max-width: variables.$desktop-small) {
      padding: 1rem;
    }
  }

  .misc-agent-container {
    display: flex;
    height: 715px;
    justify-content: space-between;
    @media screen and (max-width: variables.$desktop-large) {
      height: 627px;
    }
    @media screen and (max-width: variables.$desktop-medium) {
      height: 514px;
    }
    @media screen and (max-width: variables.$desktop-small) {
      flex-direction: column;
      height: 72vw;
    }
    @media screen and (max-width: variables.$tablet) {
      height: 78vw;
    }
    @media screen and (max-width: variables.$mobile) {
      height: 88vw;
    }
    @media screen and (max-width: variables.$mobile-small) {
      height: 92vw;
    }

    .misc-container {
      height: 100%;
      margin: 0;
      margin-right: 1rem;
      overflow: hidden;
      padding: 0;
      @media screen and (max-width: variables.$desktop-small) {
        width: 100%;
      }

      perfect-map {
        ::ng-deep .map {
          height: 715px;
          @media screen and (max-width: variables.$desktop-large) {
            height: 627px;
          }
          @media screen and (max-width: variables.$desktop-medium) {
            height: 514px;
          }
          @media screen and (max-width: variables.$desktop-small) {
            height: 60vw;
          }
          @media screen and (max-width: variables.$tablet) {
            height: 62vw;
          }

          .ol-viewport canvas {
            border-radius: 15px;
            @media screen and (max-width: variables.$desktop-small) {
              border-radius: 10px;
            }
          }
        }
      }

      embed {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        @media screen and (max-width: variables.$desktop-small) {
          border-radius: 10px;
        }
      }
    }

    .agent-buttons-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-left: auto;
      width: 323px;
      @media screen and (max-width: variables.$desktop-small) {
        margin-left: 0;
        width: 100%;
      }
      @media screen and (max-width: variables.$mobile-small) {
        margin: 0 auto;
      }

      .navigation-search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 16px;
        @media screen and (max-width: variables.$desktop-medium) {
          width: 250px;
        }
        @media screen and (max-width: variables.$desktop-small) {
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-evenly;
          margin-bottom: 1rem;
          margin-top: 2rem;
          width: 100%;
        }

        .navigation-buttons-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          width: 100%;
          @media screen and (max-width: variables.$desktop-small) {
            align-items: center;
            margin-bottom: unset;
            max-width: 200px;
            width: unset;
          }

          .hidden {
            visibility: hidden;
          }

          ::ng-deep button.p-button {
            background-color: initial;
            border: initial;
            color: inherit;

            &.p-highlight {
              border-color: variables.$dark-green;
            }

            &:not(.p-disabled):not(.p-highlight):hover {
              border-color: variables.$dark-green;
            }

            &:focus {
              box-shadow: unset;
            }

            .p-button-label {
              font-weight: 700;
            }
          }
        }

        .symbol-input {
          margin: 0 auto;
          @media screen and (max-width: variables.$desktop-small) {
            margin: unset;
          }
        }
      }

      .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: variables.$desktop-small) {
          flex-direction: row;
          justify-content: space-evenly;
        }

        .p-button-rounded {
          background-color: white;
          border: 1px solid white;
          color: variables.$dark-green;
          font-weight: 700;
          height: 2.75rem;
          margin: 0 auto 1rem;
          width: 13rem;
          @media screen and (max-width: variables.$desktop-medium) {
            height: 2rem;
            margin-bottom: 0.5rem;
          }
          @media screen and (max-width: variables.$desktop-small) {
            height: 2.75rem;
            margin: 1rem;
            width: 10rem;
          }
          @media screen and (max-width: variables.$mobile-small) {
            width: initial;
          }

          &:not(.p-disabled):not(.p-highlight):hover {
            border-color: variables.$dark-green;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .selected {
        background-color: variables.$light-green !important;
        border: 1px solid variables.$light-green !important;
        color: variables.$dark-green !important;
      }
    }
  }

  .bottom-container {
    padding-top: 0.01rem;
    width: 100%;

    .basic-info {
      h2 {
        margin-bottom: 0.5rem;
        @media screen and (max-width: variables.$tablet) {
          text-align: center;
        }
      }

      .location {
        align-items: center;
        color: variables.$font-light-grey;
        display: flex;
        @media screen and (max-width: variables.$tablet) {
          justify-content: center;
        }

        i {
          margin-right: 3px;
        }
      }

      .price-container {
        float: right;
        font-weight: 700;
        position: relative;
        text-align: right;
        top: -4.4rem;
        @media screen and (max-width: variables.$tablet) {
          float: initial;
          position: initial;
          text-align: center;
          top: 0;
        }

        .price {
          color: variables.$light-green;
          font-size: 2rem;

          .client-price {
            color: variables.$font-grey;
            font-size: 16px;
            position: relative;
            top: -0.3rem;
          }
        }

        .price-per-meter {
          color: variables.$font-light-grey;
          margin-top: 5px;

          &.hidden {
            visibility: hidden;
          }
        }
      }
    }

    .description-details {
      display: flex;
      justify-content: space-between;
      top: -2rem;
      position: relative;
      width: 100%;
    }

    .description-details-responsive {
      margin: 1rem auto 0;
      width: 98%;
      @media screen and (max-width: variables.$mobile-large) {
        width: 100%;
      }

      p-tabs {
        ::ng-deep {
          .p-tab {
            width: 80px;
            padding: 1rem 0;
            text-align: center;

            &:not([data-p-disabled='true']):focus {
              box-shadow: unset;
            }

            &[data-p-active='true'] {
              color: variables.$font-grey;
              border-color: variables.$light-green;
            }

            &:not([data-p-active='true']):not([data-p-disabled='true']):hover {
              color: variables.$font-grey;
              border-color: variables.$light-green;
            }
          }

          .p-tabpanels {
            padding: 1rem 0;
          }
        }
      }
    }

    .description {
      margin-right: 3rem;
      margin-bottom: -2rem;
      text-align: justify;
      white-space: pre-line;
      width: 55%;
      @media screen and (max-width: variables.$desktop-medium) {
        width: 50%;
      }
      @media screen and (max-width: variables.$desktop-small) {
        margin-right: 0;
        width: 100%;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      width: 40%;
      @media screen and (max-width: variables.$desktop-medium) {
        width: 50%;
      }
      @media screen and (max-width: variables.$desktop-small) {
        width: 100%;
      }

      .field {
        border-bottom: 1px dashed variables.$font-light-grey;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        padding-bottom: 0.25rem;
        width: 100%;

        &.last {
          border-bottom: initial;
        }

        .field-name {
          font-weight: 700;
          max-width: 210px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @media screen and (max-width: variables.$desktop-small) {
            max-width: initial;
          }
        }

        .field-value {
          max-width: 235px;
          overflow: hidden;
          text-align: right;
          @media screen and (max-width: variables.$desktop-small) {
            max-width: initial;
          }
        }

        .unit {
          margin-left: -0.25rem;
        }
      }
    }

    .legal-note {
      color: variables.$font-light-grey;
      font-size: 10.5px;
      @media screen and (max-width: variables.$desktop-small) {
        margin: 0 auto;
        width: 98%;
      }
      @media screen and (max-width: variables.$mobile-large) {
        width: 100%;
      }
    }
  }

  .agent-brief {
    cursor: pointer;
    margin-top: 0;
    max-height: 376px;
    padding: 1rem 0;
    @media screen and (max-width: variables.$desktop-small) {
      padding: 2rem 1.2rem;
      margin: 0 auto;
      width: 280px;
    }
  }
}
