<div class="component-container">
  <p-galleria
    [(value)]="images"
    [numVisible]="3"
    [circular]="true"
    [autoPlay]="true"
    [transitionInterval]="5000"
    [showThumbnails]="false"
    [showIndicators]="true"
    [changeItemOnIndicatorHover]="true"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.previewImageSrc"
        style="width: 100%; display: block; cursor: pointer"
        (click)="openUrl(item)"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
        <img [src]="item.thumbnailImageSrc" style="display: block" />
      </div>
    </ng-template>
  </p-galleria>

  <div class="new-customer-prompt">
    <div class="green-frame"></div>

    <div class="content">
      <div *ngIf="!windowSizeDetector.isWindowSmallerThanMobile" class="title">
        Chcesz SPRZEDAĆ lub ZNALEŹĆ nieruchomość?
      </div>
      <div class="buttons">
        <div
          class="button sell-rent"
          [routerLink]="['/kontakt/formularz', FormType.SPRZEDAM]"
        >
          <img class="icon first" />
          <div
            class="button-content first"
            *ngIf="!windowSizeDetector.isWindowSmallerThanMobileSmall"
          >
            SPRZEDAMY/ WYNAJMIEMY Twoją nieruchomość!
          </div>
        </div>
        <div
          class="button search"
          [routerLink]="['/kontakt/formularz', FormType.SZUKAM]"
        >
          <img class="icon second" />
          <div
            class="button-content second"
            *ngIf="!windowSizeDetector.isWindowSmallerThanMobileSmall"
          >
            POSZUKAMY nieruchomości dla Ciebie!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="search-tool-background"
    [ngClass]="{ 'space-for-advanced': advancedVisible }"
  >
    <div class="search-tool-container">
      <perfect-search-tool
        mainPage
        [rawVoivodeshipsWithCounties]="
          offersStateManager.voivodeshipsWithCounties$ | async
        "
        [rawEstateTypesWithSubtypes]="
          offersStateManager.estateTypesWithSubtypes$ | async
        "
        [lowestPriceForCurrentSearch]="
          offersStateManager.lowestPriceForCurrentSearch$ | async
        "
        [highestPriceForCurrentSearch]="
          offersStateManager.highestPriceForCurrentSearch$ | async
        "
        (searchOffers)="loadOffers($event)"
        (openOffer)="loadOffer($event)"
        (advancedToggled)="toggleAdvancedVisible()"
      >
      </perfect-search-tool>
    </div>
  </div>

  <div
    *ngIf="offersStateManager.offersForMainPage$ | async as carouselOffers"
    class="carousel-container"
    [ngClass]="{ 'move-to-advanced': advancedVisible }"
  >
    <p-carousel
      [value]="carouselOffers"
      styleClass="custom-carousel"
      [numVisible]="computeOffersVisible()"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="5000"
    >
      <ng-template let-offer pTemplate="item">
        <perfect-offer-card
          [offer]="offer"
          inCarousel
          (click)="offersStateManager.openMainPageOffer(offer.symbol)"
        >
        </perfect-offer-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
