@import "~src/variables.scss";

:host {
    display: flex;
    @media screen and (max-width: $mobile-small) {
        flex-direction: column;
    }

    .agent-photo {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        @media screen and (max-width: $mobile-small) {
            margin: 0 auto;
        }
    }

    .agent-info-container {
        margin: auto 0 auto 10px;
        @media screen and (max-width: $mobile-small) {
            margin: 0;
            text-align: center;
        }
        
        & > * {
            margin-bottom: 3px;
        }
        
        .full-name {
            font-size: 14px;
            font-weight: 700;
            @media screen and (max-width: $mobile-small) {
                margin-top: 5px;
            }
        }

        .position {
            line-height: 24px;;
        }

        a {
            color: unset;
            display: flex;
            font-style: italic;
            text-decoration: none;
            font-style: italic;

            &:last-of-type {
                @media screen and (max-width: $mobile-small) {
                    padding-left: 38px;
                }
            }

            mat-icon {
                color: $light-green;
                font-size: 18px;
                line-height: 14px;
            }
        }
    }
}
