@import "~src/variables.scss";

.component-container {
    display: flex;
    width: 350px;

    .agent-photo {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }

    .agent-info-container {
        margin: auto 0 auto 10px;
        
        & > * {
            margin-bottom: 3px;
        }
        
        .full-name {
            font-size: 14px;
            font-weight: 700;
        }

        .position {
            color: $font-light-grey;
            font-weight: 700;
            line-height: 24px;
        }

        a {
            color: unset;
            display: flex;
            font-style: italic;
            text-decoration: none;
            font-style: italic;

            mat-icon {
                color: $light-green;
                font-size: 18px;
                line-height: 14px;
            }
        }

        .license {
            text-align: left;
        }
    }
}

.vertical-component-container {
    flex-direction: column;
    width: 200px;

    .agent-photo {
        margin: 0 auto;
    }

    .agent-info-container {
        margin: 0 auto;
        text-align: center;
        
        .full-name {
            margin-top: 5px;
        }

        .position {
            margin-top: -5px
        }

        .contact-info > * {
            margin: 0 auto;
        }
    }
}

.bigger-component-container {
    width: 250px;

    .agent-photo {
        height: 220px;
        width: 220px;
    }

    .agent-info-container {
        margin-top: 12px;

        .full-name {
            font-size: 20px;
        }

        .position {
            font-size: 16px;
            margin-top: 0;
        }
        
        .contact-info {
            margin-top: 14px;

            & > * {
                font-size: 16px;
                margin-top: 10px;
            }

            mat-icon {
                font-size: 24px;
                margin-right: 4px;
            }
        }
    }
}
