<div class="agent-photo" style="background-image: url('/agents/{{ agent.photoFileName }}');"></div>
<div class="agent-info-container">
    <div class="full-name">
        {{ agent.fullName }}
    </div>
    <div class="position">
        {{ agent.position }}
    </div>
    <a href="mailto:{{ agent.mail }}">
        <mat-icon><i class="fas fa-envelope-square"></i></mat-icon>
        {{ agent.mail }}
    </a>
    <a href="tel:{{ agent.mobile }}">
        <mat-icon><i class="fas fa-phone-square-alt"></i></mat-icon>
        {{ agent.mobile }}
    </a>
    <div class="license" *ngIf="agent.licenseNumber">
        {{ agent.licenseNumber }}
    </div>
</div>
