img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.name-with-surname {
    font-weight: 700;
}

a {
    color: unset;
    display: block;
    font-style: italic;
    text-decoration: none;
    font-style: italic;
}