<div class="component-container"
    [ngClass]="{'bigger-component-container': isBigger || (!windowSizeDetector.isWindowSmallerThanDesktopLarge && isVertical),
        'vertical-component-container': isVertical || windowSizeDetector.isWindowSmallerThanMobile}">
    <div class="agent-photo" style="background-image: url('/agents/{{ agent.photoFileName }}');"></div>
    <div class="agent-info-container" *ngIf="!isOnlyPhotoVisible">
        <h3 class="full-name">
            {{ agent.fullName }}
        </h3>
        <h4 class="position">
            {{ agent.position }}
        </h4>
        <div class="contact-info" *ngIf="isContactInfoVisible">
            <a href="mailto:{{ agent.mail }}">
                <mat-icon><i class="fas fa-envelope-square"></i></mat-icon>
                {{ agent.mail }}
            </a>
            <a href="tel:{{ agent.mobile }}">
                <mat-icon><i class="fas fa-phone-square-alt"></i></mat-icon>
                {{ agent.mobile }}
            </a>
            <div class="license" *ngIf="agent.licenseNumber">
                <span class="title">
                    Numer licencji:
                </span>
                {{ agent.licenseNumber }}
            </div>
        </div>
    </div>
</div>