@import "~src/variables.scss";

.component-container {
    display: flex;

    .agent-photo {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }

    .agent-info-container {
        margin: auto 0 auto 10px;
        
        & > * {
            margin-bottom: 3px;
        }
        
        .full-name {
            font-size: 14px;
            font-weight: 700;
        }

        .position {
            line-height: 24px;;
        }

        a {
            color: unset;
            display: flex;
            font-style: italic;
            text-decoration: none;
            font-style: italic;

            mat-icon {
                color: $light-green;
                font-size: 18px;
                line-height: 14px;
            }
        }
    }
}

.vertical-component-container {
    flex-direction: column;

    .agent-photo {
        margin: 0 auto;
    }

    .agent-info-container {
        margin: 0;
        text-align: center;
        
        .full-name {
            margin-top: 5px;
        }

        a:last-of-type {
            padding-left: 38px;
        }
    }
}
