<div class="component-container">
  <div class="offers-counter">
    <span class="title">
      @if (windowSizeDetector.isWindowSmallerThanDesktopSmall) {
        <span> ofert: </span>
      } @else {
        liczba ofert:
      }
    </span>
    <span>
      {{ offersQuantity }}
    </span>
  </div>
  <div class="sorter">
    <span class="title"> sortuj po: </span>
    <p-select
      [options]="availableSortings"
      [(ngModel)]="selectedSorting"
      optionLabel="displayName"
      scrollHeight="250px"
      (onChange)="sortingChanged.emit($event.value)"
    ></p-select>
  </div>
</div>
