@import 'variables.scss';

.component-container {
  display: flex;
  width: 375px;

  .offers-count {
    background-color: $light-green;
    height: 50px;
    position: relative;
    left: 50%;
    margin-bottom: -70px;
    margin-top: 20px;
    padding-right: 4px;
    padding-top: 2px;
    text-align: right;
    top: 0;
    width: 51%;

    @media screen and (max-width: $desktop-large) {
      padding-top: 4px;
    }
    @media screen and (max-width: $desktop-small) {
      padding-right: 12px;
      padding-top: 8px;
      width: 56.5%;
    }

    div:first-of-type {
      font-weight: 700;
    }
  }

  .agent-photo {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    z-index: 10;
  }

  .agent-info-container {
    margin: auto 0 auto 10px;

    & > * {
      margin-bottom: unset;
    }

    .full-name {
      font-weight: 700;
      margin-top: unset;
    }

    .position {
      color: $font-light-grey;
      font-weight: 700;
      margin: 3px 0 5px;
    }

    a {
      display: flex;
      font-style: italic;
      margin-bottom: 5px;
      @media screen and (max-width: $desktop-small) {
        line-height: 24px;
      }

      mat-icon {
        color: $light-green;
        line-height: 14px;
      }
    }

    .license {
      text-align: left;

      .title {
        font-weight: 700;
      }
    }
  }
}

.vertical-component-container {
  flex-direction: column;
  width: 200px;

  .agent-photo {
    margin: 0 auto;
  }

  .agent-info-container {
    margin: 0 auto;
    text-align: center;

    .full-name {
      margin-top: 5px;
    }

    .contact-info > * {
      margin: 0 auto;
      width: fit-content;
    }
  }
}

.bigger-component-container {
  width: 250px;

  .agent-photo {
    height: 180px;
    width: 180px;
  }

  .agent-info-container {
    margin-top: 12px;

    .position {
      margin-bottom: 0;
      margin-top: 10px;
    }

    .contact-info {
      margin-top: 14px;

      & > * {
        margin-top: 7px;
      }

      mat-icon {
        margin-right: 4px;
      }
    }
  }
}
