<nav>
  @for (link of links; track link) {
    <div
      routerLinkActive="active-link"
      [ngClass]="{ 'about-us-link': !isSideNavigation }"
    >
      @if (link.route !== '/oferty') {
        <a
          class="link"
          [routerLink]="link.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          tabindex="0"
          role="button"
          aria-pressed="false"
          >{{ link.title }}</a
        >
      }
      @if (link.route === '/oferty') {
        <a
          class="link"
          [routerLink]="[
            link.route,
            { page: 1, sorting: 'creationDate_descending' },
          ]"
          routerLinkActive="active-link"
          tabindex="0"
          role="button"
          aria-pressed="false"
          >{{ link.title }}</a
        >
      }
    </div>
  }
</nav>
