@import '~src/variables.scss';
@import '~src/mixins.scss';

:host {
  @include perfect-box;
  background-color: $font-white;
  border-radius: 10px;
  z-index: 100;
  @media screen and (max-width: $mobile-small) {
    left: 40px;
  }

  mat-list-item {
    height: 40px;
    .link {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      height: 100%;
      line-height: 44px;
      margin: 0 -16px;
      padding-left: 22px;
      width: 118.9%;
      @media screen and (max-width: $desktop-large) {
        font-size: 16px;
      }
      @media screen and (max-width: $desktop-medium) {
        font-size: 14px;
      }
      @media screen and (max-width: $mobile-small) {
        font-size: 12px;
      }
    }

    .active-link {
      background-color: $light-green;
      color: $font-white;
      font-weight: 700;
    }
  }

  .about-us-link {
    .active-link {
      background-color: white;
      color: $light-green;
    }
  }
}
