@import 'variables.scss';
@import 'mixins.scss';

:host {
  @include perfect-box;
  background-color: $font-white;
  border-radius: 10px;
  z-index: 100;
  @media screen and (max-width: $mobile-small) {
    left: 40px;
  }

  div {
    height: 40px;
    padding-left: 22px;

    &:first-of-type {
      margin-top: 8px;
    }

    &.active-link:not(.about-us-link) {
      background-color: $light-green;
      color: $font-white;
      font-weight: 700;
      height: 100%;
      width: 100%;
    }

    .link {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      line-height: 44px;

      &:hover {
        color: $light-green;
      }

      @media screen and (max-width: $desktop-large) {
        font-size: 16px;
      }
      @media screen and (max-width: $desktop-medium) {
        font-size: 14px;
      }
      @media screen and (max-width: $mobile-small) {
        font-size: 12px;
      }
    }
  }

  .about-us-link {
    .active-link {
      background-color: white;
      color: $light-green;
    }
  }
}
