@import "~src/variables.scss";

:host {
  width: 100%;

  .spinner-container {
    height: 100px;
    left: calc(50% - 50px);
    position: absolute;
    top: 25%;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
      -webkit-animation: scale-out 2.75s infinite ease-in-out;
      animation: scale-out 2.75s infinite ease-in-out;
    }
  }

  @-webkit-keyframes scale-out {
    0% {
      -webkit-transform: scale(0.75);
    }
    50% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.75);
    }
  }

  @keyframes scale-out {
    0% {
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
}
