@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    @include responsive-page;
    @media screen and (max-width: $desktop-small) {
        margin-top: 10px;
    }

    .tools-container {
        @include perfect-box;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        padding: 20px 25px;
        @media screen and (max-width: $desktop-large) {
            padding: 15px 25px;
        }
        @media screen and (max-width: $desktop-medium) {
            padding: 15px;
        }
        @media screen and (max-width: $desktop-small) {
            border-radius: unset;
            box-shadow: unset;
            transition: unset;
            padding: unset;
        }

        .other-tools-container {
            @media screen and (max-width: $desktop-small) {
                @include perfect-box;
                margin: 0 auto;
                padding: 15px;
                width: 316px;
            }

            .top-paginator {
                margin-top: -46px;
                min-height: 32px;
                @media screen and (max-width: $desktop-large) {
                    margin-top: -40px;
                }
                @media screen and (max-width: $desktop-small) {
                    margin-top: 0;
                }
            }
        }
    }

    .no-offers-prompt {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        @media screen and (max-width: $desktop-small) {
            flex-direction: column;
            margin: 3rem auto 0;
            max-width: 400px;
        }

        & > * {
            display: inline-block;
        }

        perfect-agent-brief {
            width: 200px;
        }
        
        .prompt {
            text-align: center;
            vertical-align: top;

            h4 {
                color: $font-light-grey;
            }

            .contact-info-container {
                display: flex;
                font-size: 1.3rem;
                justify-content: center;
                @media screen and (max-width: $mobile-small) {
                    flex-direction: column;
                }
                
                a {
                    display: flex;
                    font-style: italic;
                    @media screen and (max-width: $desktop-small) {
                        line-height: 2rem;
                    }
                    @media screen and (max-width: $mobile-small) {
                        justify-content: center;
                    }
                
                    &:first-of-type {
                        margin-right: 2rem;
                        @media screen and (max-width: $mobile-small) {
                            margin-bottom: 1rem;
                        }
                    }

                    mat-icon {
                        color: $light-green;
                        margin-right: 0.4rem;

                        &.mat-icon {
                            font-size: 2rem;
                            height: 2rem;
                            line-height: 1rem;
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }

    .bottom-paginator {
        margin-top: 44px;
    }
}

.snackbar-container {
    position: fixed;
    bottom: 5%;
    width: 100%;
    .snackbar-content {
        @include perfect-box;
        align-items: center;
        background-color: $dark-green;
        color: $font-white;
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        line-height: 5rem;
        margin: 0 auto;
        padding: 0 20px;
        width: 350px;
        @media screen and (max-width: $desktop-small) {
            width: 300px;
        }

        i {
            cursor: pointer;
        }
    }
}
