<div class="component-container">
  <div class="tools-container">
    <perfect-search-tool
      [filters]="currentFilters"
      (searchOffers)="loadNewResults(0, currentSorting, $event)"
      (openOffer)="loadOffer($event)"
    >
    </perfect-search-tool>

    <div class="other-tools-container">
      <perfect-sorting-tool
        [offersQuantity]="offersDao.getOffersQuantity()"
        [selectedSorting]="currentSorting"
        (sortingChanged)="loadNewResults(currentPage, $event, currentFilters)"
      >
      </perfect-sorting-tool>

      <div class="top-paginator" *ngIf="isPaginatorVisible">
        <perfect-paginator
          [offersPerPage]="offersDao.getOffersPerPage()"
          [totalOffersQuantity]="offersDao.getOffersQuantity()"
          [selectedPage]="currentPage"
          (pageChanged)="loadNewResults($event, currentSorting, currentFilters)"
        >
        </perfect-paginator>
      </div>
    </div>
  </div>

  <div
    class="no-offers-prompt"
    *ngIf="
      offersDao.getOffersQuantity() === 0 &&
      agentsDao.getAgentById(1155) as agent
    "
  >
    <perfect-agent-brief
      *ngIf="!windowSizeDetector.isWindowSmallerThanDesktopSmall"
      [agent]="agent"
      onlyPhoto
      bigger
    >
    </perfect-agent-brief>
    <div class="prompt">
      <h2>Brak ofert spełniających podane kryteria.</h2>
      <h4>
        Skontaktuj się z nami! Korzystając z naszego doświadczenia, pomożemy Ci
        znaleźć to, czego szukasz.
      </h4>
      <div class="contact-info-container">
        <a href="mailto:{{ agent.mail }}">
          <mat-icon><i class="fas fa-envelope-square"></i></mat-icon>
          {{ agent.mail }}
        </a>
        <a href="tel:{{ agent.mobile }}">
          <mat-icon><i class="fas fa-phone-square-alt"></i></mat-icon>
          {{ agent.mobile }}
        </a>
      </div>
    </div>
  </div>

  <perfect-offer-card
    *ngFor="let offer of offers; trackBy: trackById"
    [offer]="offer"
    (click)="loadOffer(offer.symbol)"
  ></perfect-offer-card>

  <div class="bottom-paginator">
    <perfect-paginator
      *ngIf="isPaginatorVisible"
      class="bottom-paginator"
      [offersPerPage]="offersDao.getOffersPerPage()"
      [totalOffersQuantity]="offersDao.getOffersQuantity()"
      [selectedPage]="currentPage"
      (pageChanged)="loadNewResults($event, currentSorting, currentFilters)"
    >
    </perfect-paginator>
  </div>
</div>

<div class="snackbar-container" *ngIf="isSnackbarVisible">
  <div class="snackbar-content">
    <span>{{ snackbarContent }}</span>
    <i class="pi pi-times close-icon" (click)="isSnackbarVisible = false"></i>
  </div>
</div>
