<div
  class="input p-float-label"
  [ngClass]="{ selected: computeLabelVisibility() }"
  [ngClass]="{ 'number-input': type === 'number' }"
>
  <input
    #input
    [type]="type"
    pInputText
    [(ngModel)]="value"
    (keydown)="isEnterPressed($event)"
    (input)="computeDropdownVisibility(inputValue)"
  />
  @if (title) {
    <label class="label" for="input">
      @if (lhsIcon) {
        <i [class]="lhsIcon"></i>
      }
      {{ title }}
    </label>
  }
  @if (inputValue && isRemovable) {
    <i class="pi pi-times remove-input-icon" (click)="removeContent()"> </i>
  }
</div>
@if (isDropdownVisible) {
  <div class="options-dropdown">
    @for (option of filterOptions(inputValue); track option; let i = $index) {
      <div class="option" (click)="optionSelected(option)">
        {{ option }}
      </div>
    }
  </div>
}
