@import "~src/variables.scss";

:host {
    background-color: $font-white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 225px;
    left: 40px;
    position: absolute;
    top: 60px;
    width: 200px;
    z-index: 100;

    mat-list-item {
        height: 40px;

        .link {
            cursor: pointer;
            font-size: 12px;
            font-weight: 600;
            height: 100%;
            line-height: 44px;
            margin: 0 -16px;
            padding-left: 22px;
            width: 118.9%;
        }

        .active-link {
            background-color: $light-green;
            color: $font-white;
            font-weight: 700;
        }
    }
}