@import "~src/variables.scss";

.component-container {
    margin: 0 auto;
    width: 100%;

    p-galleria {
        ::ng-deep .p-galleria .p-galleria-indicators {
            bottom: 50px;
            position: relative;

            .p-galleria-indicator.p-highlight {
                button {
                    background: $light-green;
                    background-color: $light-green;

                }
                
                .p-link:focus {
                    box-shadow: 0 0 0 0.2rem $dark-green;
                }
            }
        }
    }

    .search-tool-container {
        background-color: rgba(255, 255, 255, 0.85);
        bottom: 336px;
        padding: 20px 0;
        position: relative;
        z-index: 1;
        @media screen and (max-width: $desktop-large) {
            bottom: 326px;
        }
        @media screen and (max-width: $desktop-medium) {
        }
        perfect-search-tool {
            margin: 0 auto;
        }
    }
}