@use 'variables.scss';

p-paginator {
  ::ng-deep {
    padding-left: unset;
    padding-right: unset;

    .p-paginator-pages {
      .p-paginator-page {
        color: variables.$font-grey;
        font-weight: 700;

        &:focus {
          box-shadow: unset;
        }
      }

      .p-paginator-page-selected {
        background: variables.$light-green;
        border-color: variables.$light-green;
        color: variables.$dark-green;
      }
    }

    button {
      color: variables.$font-grey;
    }
  }
}
