<div class="image-container">
  <img src="/assets/fotowoltaika.jpg" />
</div>
<div class="component-container">
  <header>
    <h1>Fotowoltaika</h1>
    <mat-divider></mat-divider>
  </header>
  <main>
    <h2>Czym jest fotowoltaika?</h2>
    <p>
      Fotowoltaika pozwala wyprodukować prąd elektryczny z promieniowania
      słonecznego. Energia elektryczna uzyskana w ten sposób może być:
    </p>
    <ul>
      <li>
        magazynowana do 365 dni od momentu wprowadzenia nadwyżek do sieci,
      </li>
      <li>wykorzystana przez prosumenta w dowolnym czasie.</li>
    </ul>
    <p>
      <strong
        >Fotowoltaika pozwala uniezależnić się od wzrostu cen energii
        elektrycznej, umożliwia maksymalizację oszczędności opłat za prąd od
        pierwszego miesiąca po realizacji inwestycji klienta.</strong
      >
    </p>
    <p>
      Instalacja fotowoltaiczna to przyjazne i ekologiczne rozwiązanie dające
      Tobie możliwość zwrotu kosztów inwestycji między 4,5 a 6 lat (w zależności
      od wielkości instalacji), jak i pracę paneli objętych gwarancją producenta
      nawet do 25 lat.
    </p>
    <p>
      Panele fotowoltaiczne oraz falownik to podstawowe elementy instalacji
      fotowoltaicznej:
    </p>
    <div class="graphics-container">
      <img src="/assets/grafika_panele.png" />
    </div>
    <p>
      Wszystkie elementy systemu fotowoltaicznego (panele, falownik,
      zabezpieczenia, okablowanie) stanowią bezobsługową alternatywę produkcji
      własnej energii elektrycznej wobec wzrostu jej cen rynkowych i nie
      wymagają przebudowy istniejącego przyłącza, jak również instalacji
      wewnątrz budynku inwestora.
    </p>

    <h2>Korzyści z posiadania instalacji fotowoltaicznej</h2>
    <ul>
      <li>oszczędność</li>
      <li>ekologiczne rozwiązanie</li>
      <li>własny prąd</li>
      <li>domowa elektrownia słoneczna</li>
      <li>własne zapasy energii</li>
      <li>system bezobsługowy</li>
      <li>długi okres gwarancji</li>
      <li>niezależność</li>
    </ul>

    <h2>Dofinansowania oraz ulgi</h2>
    <ul>
      <li>program "Mój Prąd"</li>
      <li>ulga termomodernizacyjna</li>
      <li>program "Czyste Powietrze"</li>
      <li>ulga w podatku od nieruchomości</li>
      <li>ulga w podatku gruntowym</li>
      <li>programy lokalne zakładające ulgi</li>
    </ul>

    <h2>Etapy realizacji inwestycji</h2>
    <ul class="numbered-list">
      <li>Nasz doradca udziela bezpłatnej konsultacji w siedzibie klienta.</li>
      <li>
        Bezpłatnie wyceniamy i przygotowujemy projekt wraz z wizualizacją
        instalacji na obiekcie klienta.
      </li>
      <li>Szybki i profesjonalny montaż.</li>
      <li>Udzielamy wieloletniej gwarancji.</li>
      <li>
        Wspieramy klienta w całym cyklu inwestycyjnym – od konsultacji po
        wypełnienie wszystkich niezbędnych dokumentów do zgłoszenia instalacji
        do OSD (Operatora Systemu Dystrybucyjnego), po kompletację dokumentów
        dla programu „Mój Prąd” i innych systemów wsparcia.
      </li>
      <li>
        Przedstawiamy i wdrażamy dedykowaną ofertę dla gospodarstw domowych,
        małych i średnich firm, gospodarstw rolnych, spółdzielni mieszkaniowych
        oraz lokali wielorodzinnych.
      </li>
      <li>Dopasowujemy terminy realizacji do czasu klienta.</li>
      <li>Dysponujemy wykwalifikowaną i doświadczoną kadrą monterską.</li>
      <li>Wykonujemy dokumentację zdjęciową podczas realizacji inwestycji.</li>
      <li>
        Oddajemy klientowi pełną dokumentację techniczną, która jest niezbędna
        do oddania inwestycji do eksploatacji.
      </li>
    </ul>

    <p class="last">
      <strong
        >Instalacja fotowoltaiczna to korzyść dla Ciebie, Twoich rachunków oraz
        środowiska naturalnego.</strong
      >
    </p>
    <div class="contact">
      <span>Zadzwoń do nas!</span>
      <a href="tel:514753514">
        <mat-icon><i class="fas fa-phone-square-alt"></i></mat-icon>
        514 753 514
      </a>
    </div>
  </main>
</div>
