<div class="component-container"> 
    <div class="mieszkania" *ngIf="offer.estateType === 'Mieszkanie'">
        <h3>Ogólne warunki</h3>
        <div class="key-value-pair" *ngIf="offer.totalArea">
            <span class="key">Powierzchnia: </span>
            <span class="value">{{ offer.totalArea | prettifyNumber:"m²" }}</span>
        </div> 
        <div class="key-value-pair">
            <span class="key">Cena: </span>
            <span class="value" *ngIf="offer.price > 1">
                {{ offer.price | prettifyNumber:"zł" }}
            </span>
            <span class="value client-price" *ngIf="offer.price === 1">
                Zaproponuj cenę!
            </span>
        </div>
        <div class="key-value-pair" *ngIf="offer.pricePerSquareMeter">
            <span class="key">Cena za m²: </span>
            <span class="value">{{ offer.pricePerSquareMeter | prettifyNumber:"zł" }}</span>
        </div>
        <div class="key-value-pair">
            <span class="key">Liczba pokoi: </span>
            <span class="value">{{ offer.numberOfRooms }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.floor">
            <span class="key">Piętro: </span>
            <span class="value">{{ offer.floor }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.numberOfFloors">
            <span class="key">Liczba pięter: </span>
            <span class="value">{{ offer.numberOfFloors }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.yearBuilt">
            <span class="key">Rok budowy: </span>
            <span class="value">{{ offer.yearBuilt }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.additionalFees">
            <span class="key">Opłaty w czynszu: </span>
            <span class="value">{{ offer.additionalFees }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.isForRent || offer.deposit">
            <span class="key">Kaucja zabezpieczająca: </span>
            <span class="value">{{ offer.deposit }}</span>
        </div>
        <div class="key-value-pair" *ngIf="offer.standard">
            <span class="key">Standard: </span>
            <span class="value">{{ offer.standard }}</span>
        </div>
        <!-- <div class="key-value-pair">
            <span class="key">Parking: </span>
            <span class="value" *ngIf="offer.isParkingAvailable">Tak></span>
            <span class="value" *ngIf="offer.isParkingAvailable === false">Nie</span>
        </div>
        <div class="key-value-pair">
            <span class="key">Garaż: </span>
            <span class="value" *ngIf="offer.garage">{{ offer.garage }}</span>
        </div> -->
        <h3>Opis budynku</h3>
        <div class="key-value-pair">
            <span class="key">Rodzaj budynku: </span>
            <span class="value">{{ offer.buildingType }}</span>
        </div>
        <div class="key-value-pair">
            <span class="key">Technologia budowlana: </span>
            <span class="value">{{ offer.constructionTechnology }}</span>
        </div>
        <div class="key-value-pair">
            <span class="key">Winda: </span>
            <span class="value" *ngIf="offer.isElevatorAvailable">Tak</span>
            <span class="value" *ngIf="offer.isElevatorAvailable === false">Nie</span>
        </div>
        <h3>Pomieszenia - Pokoje</h3>
        <div class="key-value-pair" *ngIf="offer.roomsHeight">
            <span class="key">Wysokość pomieszczeń (m): </span>
            <span class="value">{{ offer.roomsHeight | prettifyNumber }}</span>
        </div>   
    </div>
</div>
