@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {

    .key-value-pair {
        &:first-of-type {
            display: inline-block;
            @media screen and (max-width: $desktop-large) {
                width: 235px;
            }
            @media screen and (max-width: $desktop-medium) {
                width: 220px;
            }
        }

        .key {
            font-weight: 600;
        }
    }
}