<div class="image-container">
  <img src="/assets/nasze_wartosci.jpg" />
</div>
<div class="component-container">
  <header>
    <h1>Nasze wartości</h1>
    <mat-divider></mat-divider>
  </header>
  <main>
    <p>
      Firma PERFECT HOUSE powstała dzięki pasji grupy przyjaciół, dla których
      sprzedaż nieruchomości
      <strong>
        z jednej strony jest sztuką pomocy w realizowaniu wizji i marzeń ich
        klientów, a z drugiej po prostu pomocą w rozwiązywaniu codziennych
        ludzkich problemów.
      </strong>
    </p>
    <p>
      Biuro pracuje pod nadzorem licencjonowanych pośredników i zatrudnia
      zarówno doradców z wieloletnim doświadczeniem, jak i młodych, pełnych
      pasji, tryskających świeżą energią adeptów tej sztuki. Jedni i drudzy
      ściśle ze sobą współpracują, czego rezultatem jest wyjątkowa skuteczność
      zespołu oraz duża liczba sprzedanych nieruchomości.
    </p>
    <p>
      Każdy klient traktowany jest podmiotowo i obsługiwany kompleksowo, od A do
      Z. Oznacza to, że nasi agenci wspierają go od momentu przyjęcia zlecenia
      po zamknięcie transakcji. Zapewniając w ten sposób oszczędność czasu i
      nerwów.
    </p>
    <p>
      Pomagamy wycenić nieruchomość i przygotować ją do sprzedaży, robimy
      profesjonalne zdjęcia „sprzedające” największe atuty nieruchomości. Przed
      zaproszeniem potencjalnych kupujących na prezentację przeprowadzamy z nimi
      szczegółowy wywiad, żeby wizyta naprawdę miała sens. Często oznacza to, że
      uczestniczymy w procesie właściwego określenia potrzeb i tym samym
      parametrów poszukiwania domów, mieszkań, działek czy lokali.
    </p>
    <p>
      Wszystkie sprzedawane przez nas nieruchomości są sprawdzone dokładnie pod
      względem prawnym. Mamy także swoich doradców finansowych, którzy dobiorą
      najbardziej korzystną dla konkretnego klienta ofertę kredytową a także
      sprawdzą czy ma on, i jaką, zdolność kredytową. Możemy też polecić
      doradców technicznych, którzy ocenią ofertę, również pod tym względem.
    </p>
    <p>
      <strong>
        Nie ma nieruchomości, których nie da sprzedać ani takich poszukujących,
        dla których nie można nic znaleźć.
      </strong>
      To kwestia odpowiedniego dobrania nieruchomości, znalezienia równowagi
      pomiędzy potrzebami i możliwościami klientów a ceną nieruchomości.
    </p>
    <p>
      <strong>
        Cel jest prosty – po transakcji wszystkie jej strony muszą być
        zadowolone.
      </strong>
    </p>
  </main>
</div>
