<div class="component-container">
  <div class="news">
    <h2>Grzybobranie</h2>
    <div class="date">październik 2021</div>
    <div class="gallery-container">
      <perfect-gallery [photoUrls]="shrooms2021PhotoUrls"></perfect-gallery>
    </div>
    <p>
      W październiku znowu zawitaliśmy do naszego ulubionego miejsca w Puszczy
      Noteckiej - Antonówki w Bucharzewie (www.bucharzewo.pl), gdzie spędziliśmy
      cały weekend na zbieraniu grzybów, zabawach przy ognisku i kominku oraz
      długim wspólnym biesiadowaniu przy domowych nalewkach. Naładowaliśmy akumulatory,
      napełniliśmy kosze grzybami i umówiliśmy się z właścicielami na kolejny termin w przyszłym roku.
      Mamy nadzieję, że trafimy w okres, kiedy będzie wysyp grzybowy :-)
    </p>
  </div>
  <div class="news">
    <h2>Podchody</h2>
    <div class="date">czerwiec 2021</div>
    <div class="gallery-container">
      <perfect-gallery [photoUrls]="podchodyPhotoUrls"></perfect-gallery>
    </div>
    <p>
      Z uwagi na trudną sytuację covidową w kraju i mnóstwo obostrzeń,
      podjęliśmy decyzję o spotkaniu firmowym na łonie natury.
      Wybraliśmy Ogród Dendrologiczny w Poznaniu na Golęcinie,
      gdzie zorganizowaliśmy podchody i ognisko połączone z pieczeniem kiełbasek.
      Bawiliśmy się długo po zachodzie słońca.
    </p>
  </div>
  <div class="news">
    <h2>Grzybobranie</h2>
    <div class="date">październik 2020</div>
    <div class="gallery-container">
      <perfect-gallery [photoUrls]="shroomsPhotoUrls"></perfect-gallery>
    </div>
    <p>
      Coroczną tradycją stało się zbieranie grzybów w Puszczy Noteckiej przez
      "perfekcyjną" ekipę naszych agentów. Wybraliśmy się w październiku 2020
      roku do Bucharzewa, gdzie czekała na nas gościnna Antonówka nad rzeką
      Wartą. Graliśmy, śpiewaliśmy, ogniskowaliśmy, grzybobraliśmy przez trzy
      dni i na pewno w kolejnym roku również tam zawitamy!<br />
      Już mamy rezerwację 😊
    </p>
    <p>Darz bór!</p>
  </div>
  <div class="news">
    <h2>Mamy już 5 lat!</h2>
    <div class="date">listopad 2019</div>
    <div class="gallery-container">
      <perfect-gallery [photoUrls]="bowlingPhotoUrls"></perfect-gallery>
    </div>
    <p>
      W listopadzie świętowaliśmy 5-lecie powstania firmy! Wszystkim, którzy
      przyczynili się do naszego rozwoju, także Naszym Klientom - serdecznie
      dziękujemy.
    </p>
    <p>
      Rywalizowaliśmy na torach bowlingowych, układaliśmy wierszyki
      okolicznościowe na tę okazję, wznosiliśmy toasty za powodzenie firmy i
      każdego jej agenta 😊
    </p>
    <p>Poniżej zwycięski wiersz - brawo, Aniu!</p>
    <div class="poem">
      5 lat nam minęło wspólnego Bycia.<br />
      5 lat nam umknęło z agenta życia.<br />
      Telefon przy uchu, przyjęcia, transakcje,<br />
      Windy, dachy, schody i inne atrakcje.<br />
      Rozstania, śluby, śmierć i narodziny,<br />
      Wszystko to było udziałem Perfect House Rodziny.<br />
      Dzielna 5-latka radzi sobie w świecie,<br />
      Zamierza obchodzić swoje pełnolecie.<br />
    </div>
  </div>
  <div class="news">
    <h2>Wyjazd integracyjny do Domków na Miłej</h2>
    <div class="date">wrzesień 2018</div>
    <div class="gallery-container">
      <perfect-gallery [photoUrls]="seaPhotoUrls"></perfect-gallery>
    </div>
  </div>
</div>
