@if (agentsStateManager.currentAgent$ | async; as agent) {
  <div class="component-container">
    <div class="agent-info">
      @if (!windowSizeDetector.isWindowSmallerThanDesktopSmall) {
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-chevron-left"
          class="p-button-rounded"
          [class.hidden]="
            (agentsStateManager.isPreviousAgentAvailable$ | async) === false
          "
          (click)="agentsStateManager.loadPreviousAgent()"
        ></button>
      }
      <perfect-agent-brief
        [agent]="agent"
        bigger
        contactInfoVisible
        licenseNumberVisible
        vertical
      >
      </perfect-agent-brief>
      @if (agent.description) {
        <div class="description">
          {{ agent.description }}
        </div>
      }
      @if (!windowSizeDetector.isWindowSmallerThanDesktopSmall) {
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-chevron-right"
          class="p-button-rounded"
          [class.hidden]="
            (agentsStateManager.isNextAgentAvailable$ | async) === false
          "
          (click)="agentsStateManager.loadNextAgent()"
        ></button>
      }
    </div>
    @if ((offersStateManager.currentSearchOffersQuantity$ | async) > 0) {
      @if (!windowSizeDetector.isWindowSmallerThanDesktopSmall) {
        <h3>Oferty agenta:</h3>
      }
      <perfect-offers disableSearch></perfect-offers>
    }
  </div>
} @else {
  <perfect-loading-spinner></perfect-loading-spinner>
}
