@import 'variables.scss';
@import 'mixins.scss';

.component-container {
  @include responsive-page;

  .hidden {
    visibility: hidden;
  }

  .agent-info {
    @include responsive-page;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    @media screen and (max-width: $desktop-small) {
      margin: 20px auto;
    }
    @media screen and (max-width: $mobile-large) {
      flex-direction: column;
    }

    & > * {
      @include perfect-box;
      margin: 0 25px;
      padding: 25px;
      @media screen and (max-width: $desktop-small) {
        margin: 0;
      }
      @media screen and (max-width: $mobile-large) {
        flex-direction: column;
        margin: 0 auto;
        width: 300px;
      }
    }

    perfect-agent-brief {
      max-height: 420px;
      @media screen and (max-width: $desktop-small) {
        margin-right: 20px;
        max-height: 376px;
        padding: 25px 0;
      }
      @media screen and (max-width: $mobile-large) {
        margin-bottom: 20px;
        margin-right: auto;
        padding: 25px;
      }
    }

    .description {
      line-height: 1.6em;
      text-align: justify;
    }

    button {
      background-color: $light-green;
      border: initial;
      border-radius: 50%;
      color: $dark-green;
      margin-top: 13%;

      @media screen and (max-width: $desktop-large) {
        margin-top: 14%;
      }
      @media screen and (max-width: $desktop-medium) {
        margin-top: 18%;
      }

      &:focus {
        background-color: $light-green;
        box-shadow: initial;
      }

      &:hover {
        box-shadow: 0 0 0 1px $dark-green;
      }

      ::ng-deep .pi {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
