@import "~src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .side-navigation {
        height: 337px;
        left: 10%;
        position: absolute;
        top: 60px;
        width: 280px;
    }

    .about-us-navigation {
        height: 142px;
        position: absolute;
        left: 50%;
        margin-left: 460px;
        top: 115px;
        width: 190px;
        @media screen and (max-width: $desktop-large) {
            margin-left: 420px;
            top: 110px;
            width: 175px;
        }
        @media screen and (max-width: $desktop-medium) {
            margin-left: 300px;
            top: 105px;
            width: 160px;
        }
    }

    .router-outlet-container {
        flex: 1 0 auto;
    }

    perfect-footer {
        flex-shrink: 0;
    }
} 