@import "~src/variables.scss";

.component-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    .photo {
        align-items: center;
        display: flex;
        height: 85%;
        overflow: hidden;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            object-fit: contain;
            width: 100%;
            z-index: 0;

            &.vertical {
                height: 100%;
                width: initial;
            }

            &.hidden {
                visibility: hidden;
            }
        }
    }

    button {
        position: relative;
        background-color: $light-green;
        border: initial;
        color: $dark-green;
        z-index: 10;

        &:focus {
            background-color: $light-green;
            box-shadow: initial;
        }

        &:hover {
            box-shadow: 0 0 0 1px $dark-green;
        }

        ::ng-deep .pi {
            font-size: 16px;
            font-weight: 700;
        }

        &:nth-of-type(1) {
            left: 2%;
            top: -46%;
        }

        &:nth-of-type(2) {
            left: 94%;
            top: -53%;
        }

        &.hidden {
            visibility: hidden;
        }
    }

    .carousel-container {

    }
}