@import '~src/mixins.scss';

.image-container {
  @include screen-wide-image;
}

.component-container {
  @include article-page;

  .contact {
    @include perfect-box;
    float: right;
    margin-left: -476px;
    padding: 1rem 1rem 2rem 2rem;
    position: relative;
    top: 274px;
    width: 440px;
    @media screen and (max-width: $desktop-large) {
      top: 244px;
      width: 400px;
    }
    @media screen and (max-width: $desktop-medium) {
      top: 355px;
      width: 365px;
    }
    @media screen and (max-width: $desktop-small) {
      float: initial;
      margin: 2rem auto;
      position: unset;
      top: unset;
    }
    @media screen and (max-width: $mobile) {
      padding-left: 1rem;
      width: 224px;
    }

    h2 {
      margin-block-start: 0;
      @media screen and (max-width: $mobile-small) {
        text-align: center;
      }
    }

    perfect-agent-brief {
      ::ng-deep .component-container {
        width: 450px;
        @media screen and (max-width: $mobile) {
          width: unset;
        }
      }
    }
  }

  .gallery-container {
    margin-top: 2rem;
    height: 715px;
    width: 100%;
    @media screen and (max-width: $desktop-large) {
      height: 627px;
    }
    @media screen and (max-width: $desktop-medium) {
      height: 514px;
      margin-top: 4rem;
    }
    @media screen and (max-width: $desktop-small) {
      height: 445px;
      margin-top: 2rem;
    }
    @media screen and (max-width: $mobile-small) {
      height: 368px;
    }
  }
}
