@import "~src/variables.scss";
@import "~src/mixins.scss";

$curvature: 15px;
$mobile-curvature: 10px;

.component-container {
    border-radius: $curvature;
    display: flex;
    height: 25vw;
    margin: 20px auto;
    min-height: 265px;
    max-height: 365px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    @media screen and (max-width: $desktop-small) {
        border-radius: $mobile-curvature;
        flex-direction: column;
        height: unset;
        min-height: unset;
        max-height: unset;
    }

    &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    }

    .picture {
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: $curvature;
        border-top-left-radius: $curvature;
        width: 50%;
        @media screen and (max-width: $desktop-small) {
            border-bottom-left-radius: 0;
            border-top-left-radius: $mobile-curvature;
            border-top-right-radius: $mobile-curvature;
            height: 50vw;
            width: 100%;
        }
        @media screen and (max-width: $mobile) {
            height: 230px;
        }
        @media screen and (max-width: $mobile-small) {
            height: 200px;
        }
    }

    .details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;
        width: 47%;
        @media screen and (max-width: $desktop-small) {
            min-height: 225px;
            width: 95%;
        }
        @media screen and (max-width: $mobile) {
            min-height: unset;
            width: 320px;
        }
        @media screen and (max-width: $mobile-small) {
            width: 275px;
        }

        .details {
            h4 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .description {
                    color: $font-light-grey;
                }

                .offer-number {
                    margin-right: 10px;
                }
            }

            .location {
                align-items: center;
                color: $font-light-grey;
                display: flex;
                margin-bottom: 15px;
                margin-left: -3px;

                i {
                    margin-right: 3px;
                }
            }

            .details-row {
                margin-bottom: 15px;
                @media screen and (max-width: $mobile) {
                    margin-bottom: 0;
                }

                .key-value-pair {
                    &:first-of-type {
                        display: inline-block;
                        width: 250px;
                        @media screen and (max-width: $desktop-large) {
                            width: 235px;
                        }
                        @media screen and (max-width: $desktop-medium) {
                            width: 220px;
                        }
                        @media screen and (max-width: $desktop-small) {
                            width: 200px;
                        }
                    }

                    @media screen and (max-width: $mobile) {
                        display: block;
                        margin-bottom: 14px;
                        width: unset;
                    }

                    .key {
                        font-weight: 700;
                    }
                }    
            }
        }

        .bottom-row {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .phone {
                color: unset;
                cursor: pointer;
                font-size: 14px;
                margin-bottom: 14px;
                text-decoration: none;

                p-button {
                    @include perfect-button;
                }
            }

            .price {
                color: $light-green;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
                margin-right: 10px;
                text-align: right;

                .client-price {
                    color: $font-grey;
                    font-size: 16px;
                }
            }
        }
    }
}
