@import 'variables.scss';
@import 'mixins.scss';

.component-container {
  @include article-page;

  h1 {
    font-weight: 500;
    margin-bottom: 3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .inputs-container {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $desktop-small) {
        flex-direction: column;
        align-content: center;
      }

      .inputs-subcontainer {
        width: 50%;
        padding: 2rem;

        @media screen and (max-width: $desktop-small) {
          width: 100%;
        }

        &:first-of-type {
          background-color: #f4f4f4;
          border-radius: 0 0 0 2rem;
          margin-right: 2rem;

          input {
            background-color: #f4f4f4;
          }
        }

        .text-with-image {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 1rem;
            margin-bottom: 1rem;
          }
          h2 {
            font-weight: 500;
            margin-top: 0;
          }
        }

        // Heavily inspired by https://css-tricks.com/float-labels-css/
        .field {
          display: flex;
          flex-flow: column-reverse;
          height: 60px;

          // Add a transition to the label and input.
          label,
          input {
            transition: all 0.2s;
            touch-action: manipulation;
          }

          input {
            border: none;
            border-bottom: 2px solid $light-green;
            padding: 0;
            width: 100%;
          }

          input:focus {
            outline: 0;
          }

          /**
          * Translate down and scale the label up to cover the placeholder,
          * when following an input (with placeholder-shown support).
          * Also make sure the label is only on one row, at max 2/3rds of the
          * field—to make sure it scales properly and doesn't wrap.
          */
          input:placeholder-shown + label {
            cursor: text;
            transform-origin: left bottom;
            transform: translate(0, 0.9rem) scale(1);
          }
          /**
          * When the element is focused, remove the label transform.
          * Also, do this when the placeholder is _not_ shown, i.e. when
          * there's something in the input at all.
          */
          input:not(:placeholder-shown) + label,
          input:focus + label {
            transform: translate(0, -0.2rem) scale(1);
            cursor: pointer;
          }
        }

        .inputs-next-to-each-other {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .field {
            width: 100%;

            &:first-of-type {
              margin-right: 1rem;
            }
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $font-light-grey;
      margin-top: 2rem;

      @media screen and (max-width: $desktop-small) {
        align-self: center;
        width: 95%;
      }

      mat-radio-group {
        color: $light-green;

        mat-radio-button {
          margin-right: 1rem;
        }
      }
    }

    button {
      align-self: center;
      padding: 10px 20px;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 20px;
      margin-top: 2rem;
      width: 175px;

      &:disabled {
        background-color: #cccccc;
      }
    }
  }
}
