<div class="component-container">
  @if (typ === ContactFormType.SPRZEDAM) {
    <div>
      <h1>CHCĘ <strong>SPRZEDAĆ/WYNAJĄĆ</strong> NIERUCHOMOŚĆ</h1>
    </div>
  } @else {
    <h1><strong>SZUKAM</strong> NIERUCHOMOŚCI</h1>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
      <div class="inputs-subcontainer" formGroupName="personalData">
        <div class="text-with-image">
          <img src="assets/ludzik.png" alt="Icon" class="icon" />
          <h2>Moje dane:</h2>
        </div>
        <div class="field">
          <input
            type="text"
            formControlName="name"
            id="fullname"
            placeholder=""
          />
          <label for="fullname">IMIĘ I NAZWISKO</label>
        </div>
        <div class="field">
          <input
            type="tel"
            formControlName="phoneNumber"
            placeholder=""
            id="phoneNumber"
          />
          <label for="phoneNumber">NUMER TELEFONU</label>
        </div>
        <div class="field">
          <input
            type="email"
            formControlName="email"
            placeholder=""
            id="email"
          />
          <label for="email">ADRES E-MAIL</label>
        </div>
      </div>

      <div class="inputs-subcontainer" formGroupName="propertyDetails">
        <div class="text-with-image">
          <img src="assets/lupka.png" alt="Icon" class="icon" />
          @if (typ === ContactFormType.SPRZEDAM) {
            <div>
              <h2>Moja nieruchomość:</h2>
            </div>
          } @else {
            <h2>Poszukiwana nieruchomość:</h2>
          }
        </div>
        <div class="field">
          <input
            type="text"
            formControlName="propertyType"
            id="propertyType"
            placeholder=""
          />
          <label for="propertyType">RODZAJ NIERUCHOMOŚCI</label>
        </div>
        <div class="field">
          <input
            type="text"
            formControlName="region"
            id="region"
            placeholder=""
          />
          <label for="region">WOJEWÓDZTWO</label>
        </div>
        <div class="field">
          <input type="text" formControlName="city" id="city" placeholder="" />
          <label for="city">MIEJSCOWOŚĆ</label>
        </div>
        @if (typ === ContactFormType.SZUKAM) {
          <div class="inputs-next-to-each-other">
            <div class="field">
              <input
                type="text"
                formControlName="priceFrom"
                id="priceFrom"
                placeholder=""
              />
              <label for="priceFrom">CENA OD</label>
            </div>
            <div class="field">
              <input
                type="text"
                formControlName="priceTo"
                id="priceTo"
                placeholder=""
              />
              <label for="priceTo">CENA DO</label>
            </div>
          </div>
        }
        @if (typ === ContactFormType.SZUKAM) {
          <div class="inputs-next-to-each-other">
            <div class="field">
              <input
                type="text"
                formControlName="areaFrom"
                id="areaFrom"
                placeholder=""
              />
              <label for="areaFrom">POWIERZCHNIA OD</label>
            </div>
            <div class="field">
              <input
                type="text"
                formControlName="areaTo"
                id="areaTo"
                placeholder=""
              />
              <label for="areaTo">POWIERZCHNIA DO</label>
            </div>
          </div>
        }
        @if (typ === ContactFormType.SPRZEDAM) {
          <div class="field">
            <input
              type="text"
              formControlName="address"
              id="address"
              placeholder=""
            />
            <label for="address">ADRES NIERUCHOMOŚCI</label>
          </div>
        }
        @if (typ === ContactFormType.SPRZEDAM) {
          <div class="field">
            <input
              type="text"
              formControlName="price"
              id="price"
              placeholder=""
            />
            <label for="price">SUGEROWANA CENA</label>
          </div>
        }
      </div>
    </div>

    <p class="privacy-info">
      Administratorem Twoich danych osobowych jest Perfect House, ul. Klin
      17/2, 60-602 Poznań. Dane podane w formularzu przetwarzamy w celu
      udzielenia odpowiedzi na Twoje zapytanie i podjęcia działań przed
      zawarciem umowy pośrednictwa. Szczegóły, w tym informacje o Twoich
      prawach, znajdziesz w
      <a routerLink="/polityka-prywatnosci">Polityce prywatności</a>.
    </p>
    <button type="submit" [disabled]="!form.valid">Wyślij</button>
  </form>
</div>
