<div class="component-container">
    <div class="news">
        <h2>Wyjazd integracyjny do Domków na Miłej</h2>
        <div class="date">13 września 2018 roku</div>
        <div class="gallery-container">
            <perfect-gallery [photoUrls]="seaPhotoUrls"></perfect-gallery>
        </div>
    </div>
    <div class="news">
        <h2>Mamy już 5 lat!</h2>
        <div class="date">5 marca 2018 roku</div>
        <div class="gallery-container">
            <perfect-gallery [photoUrls]="bowlingPhotoUrls"></perfect-gallery>
        </div>
        <p>
            W marcu świętowaliśmy 5-lecie powstania firmy! Wszystkim, którzy przyczynili się do naszego rozwoju, także Naszym Klientom - serdecznie dziękujemy.
        </p>
        <p>
            Rywalizowaliśmy na torach bowlingowych, układaliśmy wierszyki okolicznościowe na tę okazję, wznosiliśmy toasty za powodzenie firmy i każdego jej agenta 😊
        </p>
        <p>Poniżej zwycięski wiersz - brawo, Aniu!</p>
        <div class="poem">
            5 lat nam minęło wspólnego Bycia.<br/>
            5 lat nam umknęło z agenta życia.<br/>
            Telefon przy uchu, przyjęcia, transakcje,<br/>
            Windy, dachy, schody i inne atrakcje.<br/>
            Rozstania, śluby, śmierć i narodziny,<br/>
            Wszystko to było udziałem Perfect House Rodziny.<br/>
            Dzielna 5-latka radzi sobie w świecie,<br/>
            Zamierza obchodzić swoje pełnolecie.<br/>
        </div>
    </div>
</div>