<div class="component-container">
    <div class="gallery">
        <p-galleria 
        [(value)]="images" 
        [containerStyle]="{'max-width': '640px'}" 
        [numVisible]="5"
        [circular]="true"
        [transitionInterval]="5000" 
        [showItemNavigators]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="max-height: 400px;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
                <img [src]="item.thumbnailImageSrc" style="display: block; max-width: 100%; height: 75px;" />
            </div>
        </ng-template>
        </p-galleria>
    </div>
    <div class="card agent-brief">
        <perfect-agent-brief *ngIf="agentsDao.getAgentById(offer.agentId) as agent"
            [agent]="agent"
            bigger
            contactInfoVisible
            vertical
            (click)="navigateToAgentPage(agent)">
        </perfect-agent-brief>
    </div> 
    <div class="card basic-info-card">
        <div class="price">
            <span *ngIf="offer.price > 1">
                {{ offer.price | prettifyNumber:"zł" }}
            </span>
            <span class="client-price" *ngIf="offer.price === 1">
                Zaproponuj cenę!
            </span>
        </div>
            <perfect-offer-details 
            [offer]="offer">
            </perfect-offer-details>
    </div>
    <div class="card card-description">
        <p-tabView>
            <p-tabPanel header="Opis">
                <div class="description-main" *ngIf="offer.description">
                    {{ offer.description }}
                </div>
            </p-tabPanel>
            <p-tabPanel header="Szczegóły">
                Szczegóły
            </p-tabPanel>
        </p-tabView>
    </div>

