@import "~src/variables.scss";
@import "~src/mixins.scss";

.image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 30vw;
    @media screen and (max-width: $desktop-large) {
        height:40vw;
    }
    @media screen and (max-width: $desktop-small) {
        height:50vw;
    }
    @media screen and (max-width: $tablet) {
        height: 70vw;
    }
    @media screen and (max-width: $mobile) {
        height: 90vw;
    }
    @media screen and (max-width: $mobile-small) {
        height: 100vw;
    }
}

.component-container {
    @include responsive-page;
    height: 100%;
    margin: 30px auto;
    max-width: 1200px;
    @media screen and (max-width: $tablet) {
        width: 500px;
    }
    @media screen and (max-width: $mobile) {
        width: 300px;
    }

    .card {
        @include perfect-box; 
        margin: 20px auto;
        padding: 25px;
        width: 100%;
    }

    .basic-info-card {
        .price {
            color: $dark-green;
            float: right;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
            margin-right: 10px;
            text-align: right;

            .client-price {
                color: $font-grey;
                font-size: 16px;
            }
        }
    }

    .agent-brief { 
        cursor: pointer;
        margin-right: 0px;
        max-height: 376px;
        padding: 25px 0;
        width: 255px;
        @media screen and (max-width: $desktop-small) {
            margin-right: 20px;
            max-height: 376px;
            padding: 25px 0;
        }
        @media screen and (max-width: $mobile-large) {
            margin-right: 20px;
            max-height: 376px;
            padding: 25px 0;
        }
    }

    .description-details-agent-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: $desktop-small) {
            flex-direction: column;
        }
    
        .description-details {
            margin-right: 1rem;

            .description {
                margin-bottom: 1rem;
            }

            .details {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(2, 1fr);

                .unit {
                    margin-left: -0.25rem;
                }
            }
        }

        .description-details-responsive {
            margin-left: 0px;
            text-align: justify;
            width: 850px;
            
            @media screen and (max-width: $desktop-large) {
                width: 750px;
            }
            @media screen and (max-width: $desktop-medium) {
                width: 600px;
            }
            @media screen and (max-width: $desktop-small) {
                width: unset;
            }
    
            p-TabView { 
                ::ng-deep .p-tabview .p-tabview-nav { 
                    li.p-highlight .p-tabview-nav-link {
                        border-color: $light-green;
                        color: $dark-green;
                    }

                    li .p-tabview-nav-link:not(.p-disabled):focus {
                        box-shadow: unset;
                    }
                    
                    li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
                        border-color:#dee2e6;
                        color: $dark-green;
                    }
                }            
            } 
        }  
    }
}
