<div class="component-container">
        <!-- <div class="picture">
            <img style="width:500px; margin: 20px auto;" src="./offers/{{ offer.photos[0]}}">
        </div> -->
        
    <p-galleria
        [(value)]="images"
        [numVisible]="3"
        [circular]="true"
        [autoPlay]="true"
        [transitionInterval]="5000"
        [showThumbnails]="true"
        [showIndicators]="true"
        [changeItemOnIndicatorHover]="true"> 
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc"
                style="width: 100%; display: block; cursor: pointer"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
                <img [src]="item.thumbnailImageSrc" style="display: block; width: 100px" />
            </div>
        </ng-template>
    </p-galleria>
    <!-- <p-galleria [value]="images">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" [alt]="item.alt" />
        </ng-template>
    </p-galleria> -->
        
    <div class="card basic-info-card">
            <h3 class="price"> {{ offer.price | prettifyNumber:"zł" }}</h3>
            <perfect-offer-details 
            [offer]="offer">
            </perfect-offer-details>
    </div>
    <div class="card card-description">
        <div class="description-title">
            <span>Opis</span> 
            <span>Szczegóły</span>
        </div>
        <div class="description-main" *ngIf="offer.description">
            {{ offer.description }}
        </div>
    </div>

    <div class="card agent-brief">
        <perfect-agent-brief *ngIf="agentsDao.getAgentById(offer.agentId) as agent"
            [agent]="agent"
            bigger
            contactInfoVisible
            vertical
            (click)="navigateToAgentPage(agent)">
        </perfect-agent-brief>
    </div>
</div>
