@import "~src/variables.scss";
@import "~src/mixins.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.component-container {
    
    @include responsive-page;
    display: grid;
    grid-gap: 0px 37px;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    margin: 30px auto;
    max-width: 1200px;
    @media screen and (max-width: $tablet) {
        width:500px;
        grid-template-columns: 1fr;
     }
     @media screen and (max-width: $mobile) {
        width:300px;
        grid-template-columns: 1fr;
     }

    p-galleria{
        ::ng-deep .p-galleria { 
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .card {
        @include perfect-box; 
        margin: 20px auto;
        padding: 25px;
        width: 800px;
      
        }

    .basic-info-card {
        grid-column: 1 / 3;
        
        .price {
            float: right;
            color: $light-green;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
            margin-right: 10px;
            text-align: right;

            .client-price {
                color: $font-grey;
                font-size: 16px;
            }
        }
    }

    .agent-brief { 
        cursor: pointer;
        margin: 0 auto;
        max-height: 420px;
        width: 300px !important;

        @media screen and (max-width: $desktop-small) {
            margin-right: 20px;
            max-height: 376px;
            padding: 25px 0;
            width: 300px;
        }
        @media screen and (max-width: $mobile-large) {
            margin-bottom: 20px;
            margin-right: auto;
            padding: 25px;
            width:300px;
        }
    }

    .card-description {
        p-TabView {
            ::ng-deep .p-tabview .p-tabview-nav { 
                li.p-highlight .p-tabview-nav-link {
                    border-color: $light-green;
                    color: $dark-green;
                }
                li .p-tabview-nav-link:not(.p-disabled):focus {
                    box-shadow: unset;
                }
                li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
                    border-color:#dee2e6;
                    color: $dark-green;
                }
            }

            
        }
        text-align: justify;
        grid-column: 1 / 3;
    }
}
