@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    @include responsive-page;
    height: 100%;
    margin: 30px auto;
    max-width: 1200px;
    @media screen and (max-width: $tablet) {
        width: 500px;
    }
    @media screen and (max-width: $mobile) {
        width: 300px;
    }

    .card {
        @include perfect-box; 
        margin: 1rem auto;
        padding: 1.5rem;
        width: 100%;
    }

    .misc-agent-container {
        display: flex;
        height: 715px;
        justify-content: space-between;
        @media screen and (max-width: $desktop-large) {
            height: 627px;
        }
        @media screen and (max-width: $desktop-medium) {
            height: 514px;
        }

        .misc-container {
            height: 100%;
            margin: 0;
            margin-right: 1rem;
            overflow: hidden;
            padding: 0;

            perfect-map {
                ::ng-deep .map .ol-viewport canvas {
                    border-radius: 15px;
                    @media screen and (max-width: $desktop-small) {
                        border-radius: 10px;
                    }
                }
            }

            embed {
                border-radius: 15px;
                height: 100%;
                width: 100%;
                @media screen and (max-width: $desktop-small) {
                    border-radius: 10px;
                }
            }
        }

        .agent-brief { 
            cursor: pointer;
            margin: 0;
            margin-left: auto;
            max-height: 376px;
            padding: 25px 0;
            width: 323px;
            @media screen and (max-width: $desktop-small) {
                margin-right: 20px;
                max-height: 376px;
                padding: 25px 0;
            }
            @media screen and (max-width: $mobile-large) {
                margin-right: 20px;
                max-height: 376px;
                padding: 25px 0;
            }
        }
    }

    .buttons-container {
        padding-top: 1rem;
        
        .p-button-rounded {
            background-color: white;
            border: 1px solid white;
            color: $dark-green;
            font-weight: 700; 
            height: 2.75rem;
            margin-right: 2rem;
            width: 13rem;

            &:not(.p-disabled):not(.p-highlight):hover {
                border-color: $dark-green;
            }
        }

        .selected {
            background-color: $light-green;
            border: 1px solid $light-green;
            color: $dark-green;
        }
    }

    .basic-info-card {
        padding-top: .01rem;

        .price {
            color: $dark-green;
            float: right;
            font-size: 2rem;
            font-weight: 700;
            margin-right: 1rem;
            margin-top: .5rem;
            text-align: right;

            .client-price {
                color: $font-grey;
                font-size: 16px;
            }
        }
    }

    .description-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: $desktop-small) {
            flex-direction: column;
        }

        .description {
            margin-right: 2rem;
            text-align: justify;
            width: 50%;
            @media screen and (max-width: $desktop-small) {
                margin-right: 0;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            width: 50%;

            .unit {
                margin-left: -0.25rem;
            }
        }
    }

    .description-details-responsive {
        margin-left: 0px;
        text-align: justify;
        width: 850px;
        
        @media screen and (max-width: $desktop-large) {
            width: 750px;
        }
        @media screen and (max-width: $desktop-medium) {
            width: 600px;
        }
        @media screen and (max-width: $desktop-small) {
            width: unset;
        }

        p-TabView { 
            ::ng-deep .p-tabview .p-tabview-nav { 
                li.p-highlight .p-tabview-nav-link {
                    border-color: $light-green;
                    color: $dark-green;
                }

                li .p-tabview-nav-link:not(.p-disabled):focus {
                    box-shadow: unset;
                }
                
                li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
                    border-color:#dee2e6;
                    color: $dark-green;
                }
            }            
        } 
    }  
}
