@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    @include responsive-page;
    height: 100%;
    margin: 0 auto 2rem;
    max-width: 1200px;
    @media screen and (max-width: $tablet) {
        width: 500px;
    }
    @media screen and (max-width: $mobile) {
        width: 300px;
    }

    .card {
        @include perfect-box; 
        margin: 1rem auto;
        padding: 1.5rem;
        width: 100%;
    }

    .misc-agent-container {
        display: flex;
        height: 715px;
        justify-content: space-between;
        @media screen and (max-width: $desktop-large) {
            height: 627px;
        }
        @media screen and (max-width: $desktop-medium) {
            height: 514px;
        }

        .misc-container {
            height: 100%;
            margin: 0;
            margin-right: 1rem;
            overflow: hidden;
            padding: 0;

            perfect-map {
                ::ng-deep .map {
                    height: 715px;
                    @media screen and (max-width: $desktop-large) {
                        height: 627px;
                    }
                    @media screen and (max-width: $desktop-medium) {
                        height: 514px;
                    }

                    .ol-viewport canvas {
                        border-radius: 15px;
                        @media screen and (max-width: $desktop-small) {
                            border-radius: 10px;
                        }
                    }
                }
            }

            embed {
                border-radius: 15px;
                height: 100%;
                width: 100%;
                @media screen and (max-width: $desktop-small) {
                    border-radius: 10px;
                }
            }
        }

        .agent-buttons-container {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-left: auto;
            width: 323px;

            .agent-brief { 
                cursor: pointer;
                margin-top: 0;
                max-height: 376px;
                padding: 25px 0;
            }
            
            .p-button-rounded {
                background-color: white;
                border: 1px solid white;
                color: $dark-green;
                font-weight: 700; 
                height: 2.75rem;
                margin: 0 auto 1rem;
                width: 13rem;

                &:not(.p-disabled):not(.p-highlight):hover {
                    border-color: $dark-green;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .selected {
                background-color: $light-green;
                border: 1px solid $light-green;
                color: $dark-green;
            }
        }
    }


    .bottom-container {
        padding-top: .01rem;

        .basic-info {
            margin-bottom: 1.5rem;

            .price {
                color: $dark-green;
                float: right;
                font-size: 2rem;
                font-weight: 700;
                margin-right: 1.7rem;
                position: relative;
                text-align: right;
                top: -0.4rem;
                @media screen and (max-width: $desktop-large) {
                    margin-right: 2.7rem;
                }

                .client-price {
                    color: $font-grey;
                    font-size: 16px;
                    position: relative;
                    top: -0.3rem;
                }
            }
        }

        .description-details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: $desktop-small) {
                flex-direction: column;
            }

            .description {
                margin-right: 3rem;
                text-align: justify;
                white-space: pre-line;
                width: 60%;
                @media screen and (max-width: $desktop-small) {
                    margin-right: 0;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                width: 40%;

                .field {
                    border-bottom: 1px dashed $font-light-grey;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: .25rem;
                    padding-bottom: .25rem;
                    width: 100%;

                    &.last {
                        border-bottom: initial;
                    }

                    .field-name {
                        font-weight: 700;
                        max-width: 200px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .field-value {
                        max-width: 220px;
                        overflow: hidden;
                        text-align: right;
                    }

                    .unit {
                        margin-left: -0.25rem;
                    }
                }
            }
        }

        .description-details-responsive {
            margin-left: 0px;
            text-align: justify;
            width: 850px;
            
            @media screen and (max-width: $desktop-large) {
                width: 750px;
            }
            @media screen and (max-width: $desktop-medium) {
                width: 600px;
            }
            @media screen and (max-width: $desktop-small) {
                width: unset;
            }

            p-TabView { 
                ::ng-deep .p-tabview .p-tabview-nav { 
                    li.p-highlight .p-tabview-nav-link {
                        border-color: $light-green;
                        color: $dark-green;
                    }

                    li .p-tabview-nav-link:not(.p-disabled):focus {
                        box-shadow: unset;
                    }
                    
                    li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
                        border-color:#dee2e6;
                        color: $dark-green;
                    }
                }            
            } 
        }  

        .legal-note {
            color: $font-light-grey;
            font-size: 10.5px;
        }
    }
}
