@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    @include responsive-page;
    height: 100%;
    margin: 30px auto;
    max-width: 1200px;
    @media screen and (max-width: $tablet) {
        width: 500px;
    }
    @media screen and (max-width: $mobile) {
        width: 300px;
    }

    .card {
        @include perfect-box; 
        margin: 1rem auto;
        padding: 1.5rem;
        width: 100%;
    }

    .gallery-agent-container {
        display: flex;
        justify-content: space-between;

        .agent-brief { 
            cursor: pointer;
            margin: 0;
            margin-left: auto;
            max-height: 376px;
            padding: 25px 0;
            width: 255px;
            @media screen and (max-width: $desktop-small) {
                margin-right: 20px;
                max-height: 376px;
                padding: 25px 0;
            }
            @media screen and (max-width: $mobile-large) {
                margin-right: 20px;
                max-height: 376px;
                padding: 25px 0;
            }
        }
    }

    .basic-info-card {
        .price {
            color: $dark-green;
            float: right;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
            margin-right: 10px;
            text-align: right;

            .client-price {
                color: $font-grey;
                font-size: 16px;
            }
        }
    }

    .description-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: $desktop-small) {
            flex-direction: column;
        }

        .description {
            margin-right: 2rem;
            text-align: justify;
            width: 50%;
            @media screen and (max-width: $desktop-small) {
                margin-right: 0;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            width: 50%;

            .unit {
                margin-left: -0.25rem;
            }
        }
    }

    .description-details-responsive {
        margin-left: 0px;
        text-align: justify;
        width: 850px;
        
        @media screen and (max-width: $desktop-large) {
            width: 750px;
        }
        @media screen and (max-width: $desktop-medium) {
            width: 600px;
        }
        @media screen and (max-width: $desktop-small) {
            width: unset;
        }

        p-TabView { 
            ::ng-deep .p-tabview .p-tabview-nav { 
                li.p-highlight .p-tabview-nav-link {
                    border-color: $light-green;
                    color: $dark-green;
                }

                li .p-tabview-nav-link:not(.p-disabled):focus {
                    box-shadow: unset;
                }
                
                li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
                    border-color:#dee2e6;
                    color: $dark-green;
                }
            }            
        } 
    }  
}
