<div class="top-buttons-container">
  @if (windowSizeDetector.isWindowSmallerThanDesktopSmall) {
    <button
      mat-icon-button
      id="sideNavToggleButton"
      (click)="sideMenuToggled.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <img src="/assets/LOGO_ORYGINALNE.png" [routerLink]="['/']" />
  <a href="tel:+48514753514">
    <mat-icon>phone</mat-icon>
    @if (!windowSizeDetector.isWindowSmallerThanDesktopSmall) {
      <span class="phone-number"> 514 753 514 </span>
    }
  </a>
</div>

@if (!windowSizeDetector.isWindowSmallerThanDesktopSmall) {
  <perfect-navigation (aboutUsToggled)="aboutUsOptionsToggled.emit()">
  </perfect-navigation>
}
