@use 'variables.scss';
@use 'mixins.scss';

:host {
  display: flex;
  flex-direction: column;
  margin: 22px 0;
  text-align: center;
  @media screen and (max-width: variables.$desktop-small) {
    margin: 14px 0;
  }

  .top-buttons-container {
    @include mixins.responsive-page;
    align-items: center;
    display: flex;
    justify-content: space-between;

    button {
      background-color: variables.$light-green;
      border-radius: 3px;
      margin-left: 7px;

      &.mat-mdc-icon-button {
        padding: 0;
      }

      mat-icon {
        color: variables.$dark-green;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      max-height: 42px;
      @media screen and (max-width: variables.$desktop-large) {
        max-height: 40px;
      }
      @media screen and (max-width: variables.$desktop-medium) {
        max-height: 38px;
      }
      @media screen and (max-width: variables.$desktop-small) {
        max-height: 36px;
      }
    }

    a {
      color: variables.$font-grey;
      font-size: 18px;
      font-weight: 600;
      margin-right: 4px;
      @media screen and (max-width: variables.$desktop-large) {
        font-size: 16px;
      }
      @media screen and (max-width: variables.$desktop-medium) {
        font-size: 14px;
      }
      @media screen and (max-width: variables.$desktop-small) {
        margin-right: 7px;
      }

      mat-icon {
        background-color: variables.$light-green;
        color: variables.$dark-green;
        height: 24px;
        width: 24px;
        font-size: 24px;
        border-radius: 3px;
      }

      .phone-number {
        bottom: 6px;
        left: 5px;
        position: relative;
      }
    }
  }
}
