<div
  class="component-container"
  [ngClass]="{
    'smaller-container':
      displaySmaller || windowSizeDetector.isWindowSmallerThanDesktopSmall,
  }"
>
  <div
    class="picture"
    style="background-image: url('offers/{{ offer.photos[0] }}');"
  ></div>
  <div class="details-container">
    <div class="details">
      <h4>
        <div class="description">
          <span>{{ offer.estateType }} na &nbsp;</span>
          @if (offer.isForRent) {
            <span>wynajem</span>
          } @else {
            sprzedaż
          }
          <span>:</span>
        </div>
        <div class="offer-number">
          {{ offer.symbol }}
        </div>
      </h4>
      <perfect-offer-details [offer]="offer"></perfect-offer-details>
    </div>
    @if (agentsStateManager.agentById$(offer.agentId) | async; as agent) {
      <div class="bottom-row">
        <a class="phone" href="tel:{{ agent.mobile }}">
          <p-button [label]="agent.mobile" icon="fas fa-phone-alt"></p-button>
        </a>
        @if (offer.price > -1) {
          <div class="price">
            @if (offer.price > 1) {
              <span>
                {{ offer.price | prettifyNumber: 'zł' }}
              </span>
            }
            @if (offer.price === 1) {
              <span class="client-price"> Zaproponuj cenę! </span>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
