<div class="component-container">
    <h3>{{ offer.title }}</h3> 
    <div class="location">
        <i class="pi pi-map-marker"></i>
        <span>{{ offer.city }},&nbsp;</span>
        <span *ngIf="offer.county">{{ offer.county}},&nbsp;</span>
        <span>{{ offer.voivodeship }}</span>
    </div>
    <div class="details-flex"> 
        <div class="details-row">
            <span class="key-value-pair">
                <span class="key">Powierzchnia: </span>
                <span class="value">{{ offer.totalArea | prettifyNumber:"m²" }}</span>
            </span>
            <span class="key-value-pair">
                <span class="key">Cena za m²: </span>
                <span class="value">{{ offer.pricePerSquareMeter | prettifyNumber:"zł" }}</span>
            </span>
        </div>
        <div class="details-row">                
            <span 
                class="key-value-pair"
                *ngIf="offer.estateType === 'Mieszkanie' || offer.estateType === 'Lokal'">
                <span class="key">Piętro: </span>
                <span class="value">{{ offer.floor }}</span>
            </span>
            <span 
                class="key-value-pair"
                *ngIf="offer.estateType === 'Dom' || offer.estateType === 'Obiekt'">
                <span class="key">Powierzchnia działki: </span>
                <span class="value">{{ offer.landArea | prettifyNumber:"m²" }}</span>
            </span>
            <span
                class="key-value-pair"
                *ngIf="offer.estateType === 'Dom' || offer.estateType === 'Mieszkanie' || offer.estateType === 'Lokal'">
                <span class="key">Liczba pokoi: </span>
                <span class="value">{{ offer.numberOfRooms | prettifyNumber }}</span>
            </span>
        </div>
    </div>
</div>
