@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container { 
    .location {
        align-items: center;
        color: $font-light-grey;
        display: flex;
        margin-bottom: 15px;
        margin-left: -3px;

        i {
            margin-right: 3px;
        }
    }

    .details-row {
        margin-bottom: 15px;

        .key-value-pair {
            &:first-of-type {
                display: inline-block;
                width: 250px;
                @media screen and (max-width: $desktop-large) {
                    width: 235px;
                }
                @media screen and (max-width: $desktop-medium) {
                    width: 220px;
                }
            }

            .key {
                font-weight: 700;
            }
        }    
    }
}
