@import "~src/variables.scss";

.input {
    ::ng-deep .p-inputtext {
        padding-right: 2rem;
        width: 250px;
        @media screen and (max-width: $desktop-large) {
            width: 200px;
        }
        @media screen and (max-width: $desktop-medium) {
            width: 170px;
        }

        &:enabled {
            &:focus {
                box-shadow: 0 0 0 0.2rem $light-green;
                border-color: $dark-green;
            }

            &:hover {
                border-color: $light-green;
            }
        }
    }

    label {
        font-size: unset;
    }

    .remove-input-icon {
        cursor: pointer;
        margin-right: -12px;
        right: 24px;
        position: relative;
        top: 1px;
        z-index: 100;
    }
}

.number-input {
    input {
        width: 140px;
        @media screen and (max-width: $desktop-large) {
            width: 120px;
        }
        @media screen and (max-width: $desktop-medium) {
            width: 100px;
        }
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    ::ng-deep .p-inputtext {
        width: 100px;
    }
}