@import "~src/variables.scss";
@import "~src/mixins.scss";

@mixin input-size {
    width: 250px;
    @media screen and (max-width: $desktop-large) {
        width: 200px;
    }
    @media screen and (max-width: $desktop-medium) {
        width: 170px;
    }
}


.input {
    ::ng-deep .p-inputtext {
        @include input-size;
        padding-right: 2rem;

        &:enabled {
            &:focus {
                box-shadow: 0 0 0 0.2rem $light-green;
                border-color: $dark-green;
            }

            &:hover {
                border-color: $light-green;
            }
        }
    }

    label {
        font-size: unset;
    }

    .remove-input-icon {
        cursor: pointer;
        margin-right: -16px;
        right: 24px;
        position: relative;
        top: 1px;
        z-index: 100;
        @media screen and (max-width: $desktop-large) {
            margin-right: -14px;
        }
        @media screen and (max-width: $desktop-small) {
            margin-right: -12px;
        }
    }
}

.number-input {
    input {
        width: 140px;
        @media screen and (max-width: $desktop-large) {
            width: 120px;
        }
        @media screen and (max-width: $desktop-medium) {
            width: 100px;
        }
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    ::ng-deep .p-inputtext {
        width: 100px;
    }
}

.options-dropdown {
    @include input-size;
    @include perfect-box;
    background-color: white;
    border-radius: 2px;
    max-height: 220px;
    overflow-x: hidden;
    padding: 5px 0;
    position: absolute;
    z-index: 10;

    .option {
        cursor: pointer;
        font-weight: 700;
        padding: 5px 10px;

        &:hover {
            background-color: $light-green;
            color: $font-white;
        }
    }
}
