@import "~src/variables.scss";
@import "~src/mixins.scss";

@mixin justify-two-elements {
    margin-right: 28px;
    @media screen and (max-width: $desktop-medium) {
        margin-right: 10px;
    }
}

.component-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: $desktop-small) {
        @include perfect-box;
        margin: 0 auto 20px;
        padding: 15px 25px;
        width: 316px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        min-height: 50px;
        width: 100%;
        @media screen and (max-width: $desktop-small) {
            flex-direction: column;
            margin-bottom: 0;
            min-height: 0;
            width: 270px;

            & > * {
                align-self: start;
                margin-bottom: 10px;
            }
        }

        .dropdowns {
            display: flex;
            margin-right: unset;

            p-dropdown:first-of-type {
                @include justify-two-elements;
                @media screen and (max-width: $desktop-small) {
                    ::ng-deep .p-dropdown {
                        width: 108px;
                    }
                }
            }
        }

        .location-fields {
            display: flex;
            @media screen and (max-width: $desktop-small) {
                margin-top: 7px;
            }
            
            .voivodeship-dropdown {
                @include justify-two-elements;
            }

            ::ng-deep perfect-input input {
                @media screen and (max-width: $desktop-small) {
                    width: 142px;
                }
            }
        }   

        .checkboxes-container {
            display: grid;
            gap: 10px 10px;
            grid-template-columns: repeat(2, 1fr);
            @media screen and (max-width: $desktop-small) {
                gap: 10px 0;
            }

            .checkbox-container {
                display: flex;

                p-checkbox {
                    padding-right: 5px;

                    ::ng-deep .p-checkbox {
                        .p-checkbox-box {

                            &.p-highlight {
                                border-color: $light-green;
                                background: $light-green;
                            }

                            .p-checkbox-icon {
                                color: $dark-green;
                                font-weight: 700;
                            }
                        }

                        &:not(.p-checkbox-disabled) .p-checkbox-box {
                            &.p-focus {
                                border-color: $light-green;
                                box-shadow: 0 0 0 0.2rem $light-green;
                            }

                            &:hover {
                                border-color: $light-green;
                                box-shadow: 0 0 0 0.2rem $light-green;
                            }

                            &:focus {
                                border: $light-green;
                            }
                        }
                    }
                }

                label {
                    color: $font-light-grey;
                    font-weight: 700;
                    padding-top: 1.5px;
                }
            }
        }

        .from-to-input-container {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: $desktop-small) {
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 5px;
                width: 262px;
            }

            .title {
                color: $font-light-grey;
                font-weight: 700;
                margin-bottom: 5px;
                @media screen and (max-width: $desktop-small) {
                    margin-bottom: 0;
                }
            }

            .inputs-container {
                align-items: center;
                display: flex;
                ::ng-deep perfect-input input {
                    @media screen and (max-width: $desktop-small) {
                        width: 75px;
                    }
                }

                span {
                    color: $font-light-grey;
                    font-weight: 700;
                }

                & > * {
                    margin-right: 5px;
                }

                &:last-child {
                    margin-right: unset;
                }
            }
        }

        .area {
            @media screen and (max-width: $desktop-small) {
                order: 3;
            }
        }

        p-dropdown {
            @include perfect-dropdown;
        }

        .market-toggle-container {
            align-items: center;
            display: flex;
            font-weight: 700;
            @media screen and (max-width: $desktop-small) {
                order: 3;
            }

            .title {
                color: $font-light-grey;
                margin-right: 5px;
            }

            ::ng-deep .p-button {
                &.p-highlight {
                    background-color: $light-green;
                    color: $dark-green;
                    border-color: $light-green;
                }

                &:not(.p-disabled):not(.p-highlight):hover {
                    background-color: unset;
                    border-color: $light-green;
                }

                &:focus {
                    box-shadow: unset;
                }

                .p-button-label {
                    font-weight: 700;
                }
            }
        }

        .price-slider {
            @media screen and (max-width: $desktop-small) {
                margin-left: 3px;
            }
        }

        .symbol-input {
            margin-bottom: 10px;

            perfect-input {
                margin-right: 5px;

                ::ng-deep input {
                    width: 110px;
                }
            }
        }
        
        .buttons-container {
            @media screen and (max-width: $desktop-small) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                margin-top: 5px;
                width: 257px;
            }
            p-button {
                @include perfect-button;
            }

            .show-advanced {
                font-weight: 700;
                margin-right: 10px;

                span {
                    font-weight: 700;
                    margin-right: 3px;
                }
                
                i {
                    margin-top: 1px;
                }

                ::ng-deep .p-button {
                    background-color: $dark-green;
                    border: 1px solid $dark-green;
                    color: $font-white;

                    &.p-highlight {
                        border-color: $light-green;
                    }

                    &:not(.p-disabled):not(.p-highlight):hover {
                        border-color: light-green;
                    }
                }
            }
        }
    }
}