<div class="component-container">
    <div class="row">
        <div class="dropdowns">
            <p-dropdown
                class="estate-dropdown"
                [options]="availableEstateTypes" 
                [(ngModel)]="selectedEstateType"
                optionLabel="displayName"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>

            <p-dropdown
                class="transaction-dropdown"
                [options]="availableTransactions" 
                [(ngModel)]="selectedTransaction" 
                optionLabel="displayName"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>
        </div>

        <div class="market-toggle-container">
            <span class="title">
                Rynek: 
            </span>
            <p-selectButton
                [options]="availableMarkets"
                [(ngModel)]="marketValues"
                multiple="multiple"
                optionLabel="displayName"
                optionValue="value"
                (onChange)="applyFiltersIgnoringPrice()">'
            </p-selectButton>
        </div>

        <p-dropdown
            class="voivodeship-dropdown desktop"
            [options]="availableVoivodeships" 
            [(ngModel)]="selectedVoivodeship"
            (onChange)="applyFiltersIgnoringPrice()">
        </p-dropdown>

        <perfect-input
            class="location-input"
            lhsIcon='pi pi-map-marker'
            title='lokalizacja'
            [(value)]="location">
        </perfect-input>
    </div>
    <div class="row">
        <div class="checkboxes-container">
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isInvestment"
                    binary="true" 
                    inputId="investment"
                    (onChange)="applyFiltersIgnoringPrice()">
                </p-checkbox>
                <label for="investment">inwestycyjne</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isByTheSea"
                    binary="true" 
                    inputId="byTheSea"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="byTheSea">nad Bałtykiem</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isNoCommission"
                    binary="true"
                    inputId="noCommission"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="noCommission">bez prowizji</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isVirtualVisitAvailable"
                    binary="true"
                    inputId="virtualVisitAvailable"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="virtualVisitAvailable">wirtualna wizyta</label>
            </div>
        </div>
        <div class="from-to-input-container">
            <div class="title">Powierzchnia:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="areaFrom">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="areaTo">
                </perfect-input>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider-title">
                <span>Cena: </span>
                <perfect-input
                    type='number'
                    [defaultValue]="offersDao.getLowestPriceForCurrentSearch()"
                    [(value)]="priceFrom"
                    (valueChange)="updatePriceFrom($event)">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [defaultValue]="offersDao.getHighestPriceForCurrentSearch()"
                    [(value)]="priceTo"
                    (valueChange)="updatePriceTo($event)">
                </perfect-input>
            </div>
            <p-slider
                [(ngModel)]="priceRange"
                [range]="true"
                [min]="offersDao.getLowestPriceForCurrentSearch()"
                [max]="offersDao.getHighestPriceForCurrentSearch()"
                [step]=100
                (onChange)="updatePrices($event)"
                (onSlideEnd)="applyFilters()">
            </p-slider>
        </div>
    </div>
    <div class="row" *ngIf="showAdvanced" [@openCloseAdvanced]>
        <div class="from-to-input-container">
            <div class="title">Cena za m²:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="pricePerSquareMeterFrom">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="pricePerSquareMeterTo">
                </perfect-input>
            </div>
        </div>
        <div class="from-to-input-container">
            <div class="title">Liczba pokoi:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="numberOfRoomsFrom">
                </perfect-input>
                <perfect-input
                    type='number'
                    [(value)]="numberOfRoomsTo">
                </perfect-input>
            </div>
        </div>
        <div class="from-to-input-container">
            <div class="title">Piętro:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="floorFrom">
                </perfect-input>
                <perfect-input
                    type='number'
                    [(value)]="floorTo">
                </perfect-input>
            </div>
        </div>
    </div>
    <div class="row">
        <perfect-input
            title='symbol / number oferty'
            [(value)]="symbol">
        </perfect-input>
        <div class="buttons-container">
            <p-button class="show-advanced" (click)="toggleAdvancedVisibility()">
                <span>Zaawansowane</span>
                <i *ngIf="showAdvanced" class="pi pi-chevron-up"></i>
                <i *ngIf="!showAdvanced" class="pi pi-chevron-down"></i>
            </p-button>
            <p-button label="Wyszukaj" icon="pi pi-search" (click)="applyFilters()"></p-button>
        </div>
    </div>
</div>