<div class="component-container">
    <div class="row">
        <div class="dropdowns">
            <p-dropdown
                class="estate-dropdown"
                [options]="availableEstateTypes" 
                [(ngModel)]="selectedEstateType"
                optionLabel="displayName"
                scrollHeight="300px"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>

            <p-dropdown
                class="transaction-dropdown"
                [options]="availableTransactions" 
                [(ngModel)]="selectedTransaction" 
                optionLabel="displayName"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>
        </div>

        <div class="market-toggle-container" *ngIf="isOptionalElementVisible()">
            <span class="title">
                rynek: 
            </span>
            <p-selectButton
                [options]="availableMarkets"
                [(ngModel)]="marketValues"
                multiple="multiple"
                optionLabel="displayName"
                optionValue="value"
                (onChange)="applyFiltersIgnoringPrice()">'
            </p-selectButton>
        </div>

        <div class="location-fields">
            <p-dropdown
                class="voivodeship-dropdown"
                [options]="availableVoivodeships" 
                [(ngModel)]="selectedVoivodeship"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>

            <perfect-input
                class="location-input"
                lhsIcon='pi pi-map-marker'
                title='lokalizacja'
                [options]="offersDao.getDistinctLocations()"
                [(value)]="location"
                (readyForSearch)="applyFiltersIgnoringPrice()">
            </perfect-input>
        </div>
    </div>
    <div class="row">
        <div class="checkboxes-container">
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isInvestment"
                    binary="true" 
                    inputId="investment"
                    (onChange)="applyFiltersIgnoringPrice()">
                </p-checkbox>
                <label for="investment">inwestycyjne</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isByTheSea"
                    binary="true" 
                    inputId="byTheSea"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="byTheSea">nad Bałtykiem</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isNoCommission"
                    binary="true"
                    inputId="noCommission"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="noCommission">bez prowizji</label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="isVirtualVisitAvailable"
                    binary="true"
                    inputId="virtualVisit"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="virtualVisit">wirtualna wizyta</label>
            </div>
        </div>
        <div class="from-to-input-container area" *ngIf="isOptionalElementVisible()">
            <div class="title">powierzchnia:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="areaFrom"
                    (valueChange)="onInputProvided()">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="areaTo"
                    (valueChange)="onInputProvided()">
                </perfect-input>
            </div>
        </div>
        <perfect-input-with-slider
            class="price-slider"
            title=cena
            [lowerDefaultValue]="offersDao.getLowestPriceForCurrentSearch()"
            [higherDefaultValue]="offersDao.getHighestPriceForCurrentSearch()"
            [lowerValue]="computeFilterNumericValue(priceFrom)"
            [higherValue]="computeFilterNumericValue(priceTo)"
            (valuesChanged)="updatePrices($event)"
            (slidingIsOver)="applyFilters()">
        </perfect-input-with-slider>
    </div>
    <div class="row" *ngIf="showAdvanced">
        <div class="checkboxes-container">
            <div class="checkbox-container"
                *ngIf="filters.estateType === 'wszystkie' || filters.estateType === 'mieszkania'">
                <p-checkbox
                    [(ngModel)]="isElevatorAvailable"
                    binary="true" 
                    inputId="elevator"
                    (onChange)="applyFiltersIgnoringPrice()">
                </p-checkbox>
                <label for="elevator">winda</label>
            </div>
            <div class="checkbox-container"
                *ngIf="filters.estateType !== 'działki'">
                <p-checkbox
                    [(ngModel)]="isParkingAvailable"
                    binary="true" 
                    inputId="parking"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="parking">parking/garaż</label>
            </div>
            <div class="checkbox-container"
                *ngIf="filters.estateType === 'wszystkie' || filters.estateType === 'mieszkania' || filters.estateType === 'domy'">
                <p-checkbox
                    [(ngModel)]="isTerraceAvailable"
                    binary="true"
                    inputId="terrace"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="terrace">balkon/taras</label>
            </div>
            <div class="checkbox-container"
                *ngIf="filters.estateType === 'wszystkie' || filters.estateType === 'mieszkania' || filters.estateType === 'domy'">
                <p-checkbox
                    [(ngModel)]="isBasementAvailable"
                    binary="true"
                    inputId="basement"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="basement">piwnica/komórka</label>
            </div>
            <div class="checkbox-container"
                *ngIf="filters.estateType === 'wszystkie' || filters.estateType === 'działki' || filters.estateType === 'domy'">
                <p-checkbox
                    [(ngModel)]="isMpzpAvailable"
                    binary="true"
                    inputId="mpzp"
                    (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
                <label for="mpzp">MPZP</label>
            </div>
        </div>
        <div class="from-to-input-container">
            <div class="title">cena za m²:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="pricePerSquareMeterFrom"
                    (valueChange)="onInputProvided()">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="pricePerSquareMeterTo"
                    (valueChange)="onInputProvided()">
                </perfect-input>
            </div>
        </div>
        <div class="from-to-input-container"
            *ngIf="filters.estateType !== 'działki' && filters.estateType !== 'hale'">
            <div class="title">liczba pokoi:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="numberOfRoomsFrom"
                    (valueChange)="onInputProvided()">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="numberOfRoomsTo"
                    (valueChange)="onInputProvided()">
                </perfect-input>
            </div>
        </div>
        <div class="from-to-input-container"
            *ngIf="filters.estateType === 'wszystkie' || filters.estateType === 'mieszkania' || filters.estateType === 'lokale'">
            <div class="title">piętro:</div>
            <div class="inputs-container">
                <perfect-input
                    type='number'
                    [(value)]="floorFrom"
                    (valueChange)="onInputProvided()">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [(value)]="floorTo"
                    (valueChange)="onInputProvided()">
                </perfect-input>
            </div>
        </div>
    </div>
    <div class="row">
        <perfect-input *ngIf="!windowSizeDetector.isWindowSmallerThanDesktopSmall"
            title='symbol / numer oferty'
            [(value)]="symbol">
        </perfect-input>
        <div class="symbol-input"
            *ngIf="windowSizeDetector.isWindowSmallerThanDesktopSmall && showAdvanced">
            <div class="title">symbol / numer oferty:</div>
            <perfect-input [(value)]="symbol"></perfect-input>
        </div>
        <div class="buttons-container">
            <p-button class="show-advanced" (click)="toggleAdvancedVisibility()">
                <span>zaawansowane</span>
                <i *ngIf="showAdvanced" class="pi pi-chevron-up"></i>
                <i *ngIf="!showAdvanced" class="pi pi-chevron-down"></i>
            </p-button>
            <p-button label="wyszukaj" icon="pi pi-search" (click)="search()"></p-button>
        </div>
    </div>
</div>