<div class="component-container">
    <div class="row">
        <div class="desktop-small-row">
            <p-dropdown
                class="estate-dropdown"
                [options]="availableEstateTypes" 
                [(ngModel)]="selectedEstateType"
                optionLabel="displayName"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>

            <p-dropdown
                class="transaction-dropdown"
                [options]="availableTransactions" 
                [(ngModel)]="selectedTransaction" 
                optionLabel="displayName"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>
        </div>

        <div class="market-toggle-container desktop-small-row">
            <span class="title">
                Rynek: 
            </span>
            <p-selectButton
                [options]="availableMarkets"
                [(ngModel)]="marketValues"
                multiple="multiple"
                optionLabel="displayName"
                optionValue="value"
                (onChange)="applyFiltersIgnoringPrice()">'
            </p-selectButton>
        </div>

        <div class="desktop-small-row">
            <p-dropdown
                class="voivodeship-dropdown desktop"
                [options]="availableVoivodeships" 
                [(ngModel)]="selectedVoivodeship"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-dropdown>

            <perfect-input
                lhsIcon='pi pi-map-marker'
                title='lokalizacja'
                [(value)]="location">
            </perfect-input>
        </div>
    </div>
    <div class="row">
        <div class="slider-container">
            <div class="slider-title">
                <span>Cena: </span>
                <perfect-input
                    type='number'
                    [defaultValue]="offersDao.getLowestPriceForCurrentSearch()"
                    [(value)]="priceFrom"
                    (valueChange)="updatePriceFrom($event)">
                </perfect-input>
                <span>-</span>
                <perfect-input
                    type='number'
                    [defaultValue]="offersDao.getHighestPriceForCurrentSearch()"
                    [(value)]="priceTo"
                    (valueChange)="updatePriceTo($event)">
                </perfect-input>
            </div>
            <p-slider
                [(ngModel)]="priceRange"
                [range]="true"
                [min]="offersDao.getLowestPriceForCurrentSearch()"
                [max]="offersDao.getHighestPriceForCurrentSearch()"
                [step]=100
                (onChange)="updatePrices($event)"
                (onSlideEnd)="applyFilters()">
            </p-slider>
        </div>
    </div>
    <div class="row">
        <perfect-input
            title='cena za m² od'
            type='number'
            [(value)]="pricePerSquareMeterFrom">
        </perfect-input>
        <perfect-input
            title='cena za m² do'
            type='number'
            [(value)]="pricePerSquareMeterTo">
        </perfect-input>
        <perfect-input
            title='powierzchnia od'
            type='number'
            [(value)]="areaFrom">
        </perfect-input>
        <perfect-input
            title='powierzchnia do'
            type='number'
            [(value)]="areaTo">
        </perfect-input>
    </div>
    <div class="row">
        <perfect-input
            title='liczba pokoi od'
            type='number'
            [(value)]="numberOfRoomsFrom">
        </perfect-input>
        <perfect-input
            title='liczba pokoi do'
            type='number'
            [(value)]="numberOfRoomsTo">
        </perfect-input>
        <perfect-input
            title='piętro od'
            type='number'
            [(value)]="floorFrom">
        </perfect-input>
        <perfect-input
            title='piętro do'
            type='number'
            [(value)]="floorTo">
        </perfect-input>
    </div>
    <div class="row">
        <div class="checkbox-container">
            <p-checkbox
                [(ngModel)]="isInvestment"
                binary="true" 
                inputId="investment"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-checkbox>
            <label for="investment">inwestycyjne</label>
        </div>
        <div class="checkbox-container">
            <p-checkbox
                [(ngModel)]="isSpecial"
                binary="true"
                inputId="special"
                (onChange)="applyFiltersIgnoringPrice()">
            </p-checkbox>
            <label for="special">specjalne</label>
        </div>
        <div class="checkbox-container">
            <p-checkbox
                [(ngModel)]="isByTheSea"
                binary="true" 
                inputId="byTheSea"
                (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
            <label for="byTheSea">nad Bałtykiem</label>
        </div>
        <div class="checkbox-container">
            <p-checkbox
                [(ngModel)]="isNoCommission"
                binary="true"
                inputId="noCommission"
                (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
            <label for="noCommission">bez prowizji</label>
        </div>
        <div class="checkbox-container">
            <p-checkbox
                [(ngModel)]="isVirtualVisitAvailable"
                binary="true"
                inputId="virtualVisitAvailable"
                (onChange)="applyFiltersIgnoringPrice()"></p-checkbox>
            <label for="virtualVisitAvailable">wirtualna wizyta</label>
        </div>
        <perfect-input
            title='symbol / number oferty'
            [(value)]="symbol">
        </perfect-input>
        <p-button label="Wyszukaj" icon="pi pi-search" (click)="applyFilters()"></p-button>
    </div>
</div>