@use 'variables.scss';

@mixin responsive-page {
  margin: 0 auto;
  width: 1178px;
  @media screen and (max-width: variables.$desktop-large) {
    width: 1064px;
  }
  @media screen and (max-width: variables.$desktop-medium) {
    width: 920px;
  }
  @media screen and (max-width: variables.$desktop-small) {
    width: 90%;
  }
  @media screen and (max-width: variables.$mobile) {
    width: 98%;
  }
}

@mixin article-page {
  @include responsive-page;
  text-align: justify;

  main {
    margin-block-end: 50px;
    margin-block-start: 0px;
  }
}

@mixin perfect-box {
  border-radius: 15px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 10;
  @media screen and (max-width: variables.$desktop-small) {
    border-radius: 10px;
  }
}

@mixin perfect-dropdown {
  ::ng-deep {
    &:not(.p-disabled) {
      &:hover {
        border-color: variables.$light-green;
      }

      &.p-focus {
        box-shadow: 0 0 0 0.2rem variables.$light-green;
        border-color: variables.$dark-green;
      }
    }

    .p-select-label {
      font-weight: 700;
    }

    .p-select-list .p-select-option {
      font-weight: 700;

      &.p-select-option-selected {
        background: variables.$light-green;
        color: variables.$dark-green;
      }
    }
  }
}

@mixin perfect-button {
  ::ng-deep .p-button {
    background-color: variables.$light-green;
    border: 1px solid variables.$light-green;
    color: variables.$dark-green;

    &.p-highlight {
      border-color: variables.$dark-green;
    }

    &:not(.p-disabled):not(.p-highlight):hover {
      border-color: variables.$dark-green;
    }

    &:focus {
      box-shadow: unset;
    }

    .p-button-label {
      font-weight: 700;
    }
  }
}

@mixin perfect-toggle-button {
  ::ng-deep {
    p-togglebutton {
      background-color: white;
      border: 1px solid #cbd5e1;
      color: variables.$font-grey;

      .p-togglebutton-content {
        background-color: transparent;
        color: variables.$font-grey;
      }

      &[data-p-checked='true'] {
        background-color: variables.$light-green;
        color: variables.$dark-green;
        border-color: variables.$dark-green;

        .p-togglebutton-content {
          background-color: variables.$light-green;
          color: variables.$dark-green;
        }
      }

      &:not([data-p-disabled='true']):not([data-p-checked='true']):hover {
        background-color: white;
        border-color: variables.$light-green;

        .p-togglebutton-content {
          background-color: white;
        }
      }

      &:focus {
        box-shadow: unset;
      }

      .p-togglebutton-label {
        font-weight: 700;
      }
    }
  }
}

@mixin screen-wide-image {
  img {
    min-width: 100%;
    @media screen and (max-width: variables.$desktop-huge) {
      max-width: 100%;
      min-width: unset;
    }

    @media screen and (max-width: variables.$desktop-small) {
      height: 60vw;
      object-fit: cover;
      object-position: center;
    }
  }
}
@mixin resized-mat-icon($size) {
  height: $size;
  width: $size;
  font-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}
