@use 'variables.scss';

@import '../node_modules/primeicons/primeicons.css';

html {
  background-color: variables.$font-white;
  font-size: 16px;
  height: 100%;
  @media screen and (max-width: variables.$desktop-large) {
    font-size: 14px;
  }
  @media screen and (max-width: variables.$desktop-small) {
    font-size: 12px;
  }

  body {
    background-color: variables.$font-white;
    color: variables.$font-grey;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;

    div,
    span {
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;

      &:focus {
        outline: 0;
      }
    }

    a {
      color: unset;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
