@import "~src/mixins.scss";
@import "~src/variables.scss";

.image-container {
    @include screen-wide-image;
}

.component-container { 
    @include article-page;

    .graphics-container {
        text-align: center;
        width: 100%;

        img {
            @media screen and (max-width: $tablet) {
                width: 350px;
            }
            @media screen and (max-width: $mobile-small) {
                width: 275px;
            }
        }
    }

    ul {
        @media screen and (max-width: $desktop-small) {
            padding-inline-start: 30px;
        }
        @media screen and (max-width: $mobile-small) {
            padding-inline-start: 20px;
        }

        &.numbered-list {
            list-style-type: decimal;

            li::marker {
                font-weight: 700;
            }
        }
    }

    .last, .contact {
        font-size: 1.2rem;
        margin-top: 2rem;
        text-align: center;
    }

    .contact {
        display: flex;
        justify-content: center;

        span {
            line-height: 2.5rem;
            margin-right: 0.5rem;
        }

        a {
            display: flex;
            font-style: italic;
            line-height: 2.5rem;

            mat-icon {
                color: $light-green;
                margin-right: 0.4rem;

                &.mat-icon {
                    font-size: 2rem;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}
