@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
    
    .offers-counter {
        width: 96x;

        .title {
            color: $font-light-grey;
        }
    }

    .sorter {
        .title {
            color: $font-light-grey;
            margin-right: 3px;
        }

        p-dropdown {
            @include perfect-dropdown;
        }
    }
}
