<div
  class="component-container"
  [ngClass]="{ selected: !!selected }"
  tabindex="0"
>
  @if (selected) {
    <div class="component-label">
      @if (!hideGroupNameWhenValueSelected) {
        <span>
          {{ placeholder }}
        </span>
      }
      @if (hideGroupNameWhenValueSelected && isGroupSelected) {
        <span>
          {{ groupLabel }}
        </span>
      }
      @if (hideGroupNameWhenValueSelected && isValueSelected) {
        <span>
          {{ valueLabel }}
        </span>
      }
    </div>
  }
  <div class="selected-container">
    <span class="label-container" (click)="toggleDropdownVisibility()">
      @if (!selected) {
        <div class="placeholder">
          {{ placeholder }}
        </div>
      }
      @if (selected) {
        <div class="selected">
          {{ selected }}
        </div>
      }
    </span>
    @if (!selected) {
      <span class="icon-container" (click)="toggleDropdownVisibility()">
        <i class="pi pi-chevron-down"></i>
      </span>
    }
    @if (selected) {
      <span class="icon-container" (click)="deselectAll()">
        <i class="pi pi-times"></i>
      </span>
    }
  </div>
  @if (isDropdownVisible) {
    <div class="dropdown">
      @for (group of groupsWithValues; track group) {
        <div class="group-container">
          <div class="label-container">
            <span
              class="label"
              [class.selected]="group.isSelected"
              (click)="groupSelected(group)"
            >
              {{ group.displayName }}
            </span>
            @if (group.values.length) {
              <span
                class="icon-container"
                (click)="toggleGroupVisibility(group)"
              >
                @if (!group.isVisible) {
                  <i class="pi pi-chevron-down"></i>
                }
                @if (group.isVisible) {
                  <i class="pi pi-chevron-up"></i>
                }
              </span>
            }
          </div>
          @if (group.isVisible) {
            <div class="values-container">
              @for (value of group.values; track value) {
                <div
                  class="value"
                  [class.selected]="value.isSelected"
                  (click)="valueSelected(group, value)"
                >
                  {{ value.displayName }}
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</div>
