@import "~src/variables.scss";

@mixin articlePage { 
    margin: 0 auto; 
    width: 800px;
    @media screen and (max-width: $desktop-medium) {
        width: 600px;
    }

    @media screen and (max-width: $mobile-large) {
        width: unset;
        margin: 0 20px;
    }

    main {
        margin-block-end: 50px;
        margin-block-start: 0px;
        text-align: justify;
    }

    h2 {
        @media screen and (max-width: $mobile-large) {
            font-size: 14px;
        }
    }
}

@mixin perfect-dropdown {
    ::ng-deep .p-dropdown {
        &:not(.p-disabled){
            &:hover {
                border-color: $light-green;
            }

            &.p-focus {
                box-shadow: 0 0 0 0.2rem $light-green;
                border-color: $dark-green;
            }
        }

        .p-inputtext {
            font-weight: 700;
        }

        .p-dropdown-items .p-dropdown-item {
            font-weight: 700;

            &.p-highlight {
                background: $light-green;
                color: $font-white;
            }
        }
    }
}
