@import "~src/variables.scss";

html, body {
    height: 100%;
}

body {
    color: $font-grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
}

div, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: 0;
    }
}
