@import "~src/variables.scss";

html {
    height: 100%;

    body {
        color: $font-grey;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        height: 100%;
        margin: 0;
        overflow-x: hidden;

        div, span {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;

            &:focus {
                outline: 0;
            }
        }
    }
}

@mixin articlePage { 
    margin: 0 auto; 
    width: 800px;
    @media screen and (max-width: $desktop-medium) {
        width: 600px;
    }

    @media screen and (max-width: $mobile-large) {
        width: unset;
        margin: 0 20px;
    }

    main {
        margin-block-end: 50px;
        margin-block-start: 0px;
        text-align: justify;
    }

    h2 {
        @media screen and (max-width: $mobile-large) {
            font-size: 14px;
        }
    }
}