// Frequently used values saved as variables.
// To use them add << @import "~src/variables.scss"; >> at scss file top.

// colors
$light-green: #b4e434;
$dark-green: #144433;
$font-grey: #404040;
$font-light-grey: #757575;
$font-white: #fefefe;

// size screens for responsive design
$desktop-large: 1470px;
$desktop-medium: 1240px;
$desktop-small: 900px;
$tablet: 760px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 400px;
