@import 'variables.scss';
@import 'mixins.scss';

:host {
  background-color: $dark-green;
  color: $font-white;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  padding-bottom: 15px;

  .links-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto 20px;
    width: 800px;
    @media screen and (max-width: $desktop-small) {
      width: 650px;
    }
    @media screen and (max-width: $mobile-large) {
      flex-direction: column;
      margin: 0 0 20px 24px;
      width: unset;
    }

    .link {
      cursor: pointer;
    }

    address {
      font-style: unset;
    }

    .icons-container {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      width: 120px;

      a {
        mat-icon {
          @include resized-mat-icon(32px);
        }
      }
    }
  }

  .legal-info {
    font-size: 10px;
    margin-top: 14px;
    text-align: center;
  }
}
