<nav>
    <span class="link-container" *ngFor="let link of links">
        <span *ngIf="link.route !== '/o_nas'"
            class="link"
            [routerLink]="link.route"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            tabindex="0"
            role="button"
            aria-pressed="false">{{link.title}}</span>
        <span *ngIf="link.route === '/o_nas'"
            class="link"
            [ngClass]="{'active-link':isAboutUsActive()}"
            (click)="aboutUsToggled.emit()"
            tabindex="0"
            role="button"
            aria-pressed="false">{{link.title}}</span>
    </span>
</nav>
