@import "~src/variables.scss";

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    margin: 18px auto 0;
    width: 1274px;
    text-align: center;
    @media screen and (max-width: $desktop-large) {
        font-size: 16px;
        width: 1156px;
    }
    @media screen and (max-width: $desktop-medium) {
        font-size: 14px;
        width: 994px;
    }

    .link {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: color 0.25s;

        &:hover {
            color: $light-green;
            
        }
    }

    .active-link {
        color: $light-green;
    }
}