@import "~src/variables.scss";

.component-container {
    margin: 0 auto;
    width: 800px;
    @media screen and (max-width: $desktop-small) {
        width: 400px;
    }
    @media screen and (max-width: $mobile) {
        width: 300px;
    }

    .other-tools-container {
        @media screen and (max-width: $desktop-small) {
            border-radius: 15px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            padding: 15px;
        }
        @media screen and (max-width: $mobile) {
            padding: 15px 0;
        }

        .top-paginator {
            margin-top: -37px;

            @media screen and (max-width: $desktop-small) {
                margin-top: 0;
            }
        }
    }

    .no-offers-prompt {
        text-align: center;
        
        .emoji {
            color: $light-green;
            font-size: 54px;
            margin-bottom: 20px;
        }

        h4 {
            color: $font-light-grey;
        }
    }

    .bottom-paginator {
        margin-top: 44px;
    }
}
