@import "~src/variables.scss";
@import "~src/mixins.scss";

.component-container {
    @include responsive-page;
    @media screen and (max-width: $desktop-small) {
        margin-top: 10px;
    }

    .tools-container {
        @include perfect-box;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        padding: 20px 25px;
        @media screen and (max-width: $desktop-large) {
            padding: 15px 25px;
        }
        @media screen and (max-width: $desktop-medium) {
            padding: 15px;
        }
        @media screen and (max-width: $desktop-small) {
            border-radius: unset;
            box-shadow: unset;
            transition: unset;
            padding: unset;
        }

        .other-tools-container {
            @media screen and (max-width: $desktop-small) {
                @include perfect-box;
                margin: 0 auto;
                padding: 15px;
                width: 316px;
            }

            .top-paginator {
                margin-top: -46px;
                min-height: 32px;
                @media screen and (max-width: $desktop-large) {
                    margin-top: -40px;
                }
                @media screen and (max-width: $desktop-small) {
                    margin-top: 0;
                }
            }
        }
    }

    .no-offers-prompt {
        text-align: center;
        
        .emoji {
            color: $light-green;
            font-size: 54px;
            margin-bottom: 20px;
        }

        h4 {
            color: $font-light-grey;
        }
    }

    .bottom-paginator {
        margin-top: 44px;
    }
}

.snackbar-container {
    position: fixed;
    bottom: 5%;
    width: 100%;
    .snackbar-content {
        @include perfect-box;
        align-items: center;
        background-color: $dark-green;
        color: $font-white;
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        line-height: 5rem;
        margin: 0 auto;
        padding: 0 20px;
        width: 350px;
        @media screen and (max-width: $desktop-small) {
            width: 300px;
        }

        i {
            cursor: pointer;
        }
    }
}
