<div class="component-container">
    <perfect-search-tool
        [filters]="currentFilters"
        (searchOffers)="loadNewResults(0, currentSorting, $event)"
        (openOffer)="loadOffer($event)">
    </perfect-search-tool>

    <div class="other-tools-container">
        <perfect-sorting-tool
            [offersQuantity]="offersDao.getOffersQuantity()"
            [selectedSorting]="currentSorting"
            (sortingChanged)="loadNewResults(currentPage, $event, currentFilters)">
        </perfect-sorting-tool>

        <div class="top-paginator">
            <perfect-paginator
                *ngIf="isPaginatorVisible"
                [offersPerPage]="offersDao.getOffersPerPage()"
                [totalOffersQuantity]="offersDao.getOffersQuantity()"
                [selectedPage]="currentPage"
                (pageChanged)="loadNewResults($event, currentSorting, currentFilters)">
            </perfect-paginator>
        </div>
    </div>

    <div class="no-offers-prompt" *ngIf="offersDao.getOffersQuantity() === 0">
        <h2>
            <div class="emoji"> \(^Д^)/ </div>
            <div>Brak ofert spełniających podane kryteria.</div>
        </h2>
        <h4>
            Zmień kryteria i wyszukaj ponownie.
        </h4>
    </div>

    <perfect-offer-card
        *ngFor="let offer of offers"
        [offer]="offer"
        (click)=loadOffer(offer.symbol)></perfect-offer-card>

    <div class="bottom-paginator">
        <perfect-paginator
            *ngIf="isPaginatorVisible"
            class="bottom-paginator"
            [offersPerPage]="offersDao.getOffersPerPage()"
            [totalOffersQuantity]="offersDao.getOffersQuantity()"
            [selectedPage]="currentPage"
            (pageChanged)="loadNewResults($event, currentSorting, currentFilters)">
        </perfect-paginator>
    </div>
</div>
